<html>
	<head>
		<title>Login</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	</head>
	<h3>Login to Rhodes</h3>
	<form class="panel" 
			 id="user_edit_form" 
		 method="POST" 
		 action="<%=url_for('do_login')%>">
	  <fieldset>
	    <%if @msg%>
	      <p><%=@msg%></p>
		<%end%>
	    <div class="row">
		  <label>Login: </label>
		  <input type="text" maxlength="100" name="login"/>
		</div>
		<div class="row">
		  <label>Password: </label>
		  <input type="password" maxlength="100" name="password"/>
		</div>
	  </fieldset>
	  <p align="center">
		<input type="submit" value="Login"/><br/>
	    <a href="/" target="_self">Cancel</a>
	  </p>
	</form>
</html>