<script language="JavaScript">
		
if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		RhodesTest
	</h1>
</div>

<ul id="home" selected="true" title="RhodesSpecs">
	<li><a href="SpecRunner">Run Specs!</a></li>
</ul>
