<ul id="home" selected="true" title="RhoSugar 2.0">

		<li><a href="SugarCall">Calls</li>
		<li><a href="SugarMeeting">Meetings</li>
		<li><a href="SugarCase">Cases</li>
		<li><a href="SugarEmployee">Employees</li>
		<li><a href="SugarCampaign">Campaigns</li>
		<li><a href="SugarProduct">Products</li>
			
		<li><a href="/RhoSugarCRM">Home</li>
	</ul>
</ul>
