<div class="toolbar">
	<h1 id="pageTitle">
		More
	</h1>
</div>

<ul title="Mapping" selected="true">
	<li><a href="/RhoSugarCRM/Mapping/showmypos" target="_self">Show My Position</a></li>
	<li><a href="#/RhoSugarCRM/Mapping/showcontact" target="_self">Show Contact's Position</a></li>
</ul>
