<?xml version = "1.0"?>
<?xml-stylesheet type="text/xsl" href="pb_help.xsl"?>
<API>
    <MODULE name="System" parent="Rho" generateUnderscoreRubyNames="true">
        <HELP_OVERVIEW>The System API is used to control and modify core aspects of the device such as the screen, OS and device capabilities.</HELP_OVERVIEW>
        <MORE_HELP>
## Enabling the API
This API is part of the `coreapi` extension that is included automatically.
    :::ruby
    extensions: ["coreapi"]

## JavaScript Usage
Be sure to review the [JavaScript API Usage](/guide/api_js) guide for important information about using this API in JavaScript.

## Ruby Usage
Be sure to review the [Ruby API Usage](/guide/api_ruby) guide for important information about using this API in Ruby.
        </MORE_HELP>
        <ALIASES>
            <ALIAS new="System" deprecated="true"/>
        </ALIASES>
        <TEMPLATES>
            <!-- <DEFAULT_INSTANCE/> -->
            <PROPERTY_BAG/> <!-- object has properties, produce getProps(), setProps() methods -->
        </TEMPLATES>
        <PROPERTIES usePropertyBag="PropertyBagViaAccessors" limitPropertyBag="true" access="STATIC">
            <DESC>The System API supports the following properties.</DESC>
            <ALIASES>
                <ALIAS new="http_proxy_url" existing="httpProxyURI" deprecated="true"/>
                <ALIAS new="deviceId" existing="devicePushId" deprecated="true"/>
            </ALIASES>
            <PROPERTY name="main_window_closed" type="BOOLEAN" readOnly="true" generateDoc="false">
                <DESC>It is internal property for using in debugger (signal for main window close).</DESC>
            </PROPERTY>
            <PROPERTY name="platform" type="STRING" readOnly="true">
                <DESC>Platform where application is running.</DESC>
                <VALUES>
                    <VALUE constName="PLATFORM_WM_CE" value ="WINDOWS">
                        <DESC></DESC>
                    </VALUE>
                    <VALUE constName="PLATFORM_ANDROID" value ="ANDROID">
                        <DESC></DESC>
                    </VALUE>
                    <VALUE constName="PLATFORM_IOS" value ="APPLE" productException='eb'>
                        <DESC></DESC>
                    </VALUE>
                    <VALUE constName="PLATFORM_WP8" value ="WP8" productException='eb'>
                        <DESC></DESC>
                    </VALUE>
                    <VALUE constName="PLATFORM_UWP" value ="UWP" productException='eb'>
                      <DESC></DESC>
                    </VALUE>
                    <VALUE constName="PLATFORM_WINDOWS_DESKTOP" value ="WINDOWS_DESKTOP">
                        <DESC></DESC>
                    </VALUE>
                </VALUES>
            </PROPERTY>
            <PROPERTY name="hasCamera" type="BOOLEAN" readOnly="true">
                <DESC>Returns true if there is a camera available on the device.</DESC>
                <PLATFORM>WM, CE, Android, iOS</PLATFORM>
            </PROPERTY>
            <PROPERTY name="screenWidth" type="INTEGER" readOnly="true">
                <DESC>Screen width in logical pixels (used for set coordinates).</DESC>
            </PROPERTY>
            <PROPERTY name="screenHeight" type="INTEGER" readOnly="true">
                <DESC>Screen height in logical pixels (used for set coordinates).</DESC>
            </PROPERTY>
            <PROPERTY name="realScreenWidth" type="INTEGER" readOnly="true">
                <DESC>Screen width in real pixels.</DESC>
            </PROPERTY>
            <PROPERTY name="realScreenHeight" type="INTEGER" readOnly="true">
                <DESC>Screen height in real pixels.</DESC>
            </PROPERTY>
            <PROPERTY name="screenOrientation" type="STRING" readOnly="true">
                <DESC>Current screen orientation.</DESC>
                <VALUES>
                    <VALUE constName="SCREEN_PORTRAIT" value ="portrait">
                        <DESC>The return value if the screen is in portrait mode.</DESC>
                    </VALUE>
                    <VALUE constName="SCREEN_LANDSCAPE" value ="landscape">
                        <DESC>The return value if the screen is in landscape mode.</DESC>
                    </VALUE>
                </VALUES>
            </PROPERTY>
            <PROPERTY name="ppiX" type="INTEGER" readOnly="true">
                <DESC>Horizontal PPI (Pixels Per Inch).</DESC>
            </PROPERTY>
            <PROPERTY name="ppiY" type="INTEGER" readOnly="true">
                <DESC>Vertical PPI (Pixels Per Inch).</DESC>
            </PROPERTY>

            <PROPERTY name="deviceOwnerEmail" type="STRING" readOnly="true">
                <DESC>Primary email of phone owner. To access this property 'pim' capability must be enabled in your build.yml.</DESC>
                <PLATFORM>Android</PLATFORM>
            </PROPERTY>
            <PROPERTY name="deviceOwnerName" type="STRING" readOnly="true">
                <DESC>Name(account name) of phone owner. To access this property 'pim' capability must be enabled in your build.yml.</DESC>
                <PLATFORM>Android</PLATFORM>
            </PROPERTY>
            <PROPERTY name="devicePushId" type="STRING" readOnly="true">
                <DESC>Push notifications device ID which may be used to receive push messages.To get this ID , Push service should be configured on the device. Please refer to Push documentation.</DESC>
            </PROPERTY>
            <PROPERTY name="phoneId" type="STRING" readOnly="true">
                <DESC>Hardware based ID. It depends on capabilities configured for an application and has to remain same even across application uninstall/install.(except iOS ! - on iOS unisntall/reinstall will update this property - used UIDebice.identifierForVendor)</DESC>
                <PLATFORM>WM, CE, iOS, Android</PLATFORM>
            </PROPERTY>
            <PROPERTY name="deviceName" type="STRING" readOnly="true">
                <DESC>Name of device application running on. Examples: '9000' (BB), 'iPhone', 'dream' (Android). In Consumer Android device, name of the Industrial Design along with manufacturer name shall be shown. </DESC>
            </PROPERTY>
            <PROPERTY name="osVersion" type="STRING" readOnly="true">
                <DESC>Version OS of device. Examples:  '4.1' (Android).</DESC>
            </PROPERTY>
            <PROPERTY name="locale" type="STRING" readOnly="true">
                <DESC>Current device locale Like 'en', 'ru' etc.</DESC>
            </PROPERTY>
            <PROPERTY name="country" type="STRING" readOnly="true">
                <DESC>Current device country code.</DESC>
            </PROPERTY>
            <PROPERTY name="isEmulator" type="BOOLEAN" readOnly="true">
                <DESC>Returns true if the application is running on a platform emulator.</DESC>
            </PROPERTY>
            <PROPERTY name="isRhoSimulator" type="BOOLEAN" readOnly="true" productException="eb">
                <DESC>Returns true if the application is running on RhoSimulator.</DESC>
            </PROPERTY>
            <PROPERTY name="hasCalendar" type="BOOLEAN" readOnly="true">
                <DESC>Returns true if calendar support is available.</DESC>
            </PROPERTY>
            <PROPERTY name="isSymbolDevice" type="BOOLEAN" readOnly="true">
                <DESC>Returns true if the device supports Symbol device capabilities. APIs will indicate if the property or method is available on Symbol devices only. You can use this property to help your application decide when to take advantage of advanced Symbol capabilities.</DESC>
            </PROPERTY>
            <PROPERTY name="oemInfo" type="STRING" readOnly="true">
                <DESC>The OEM Information string for the terminal.</DESC>
                <APPLIES msiOnly="true"></APPLIES>
                <PLATFORM>WM, CE, Android</PLATFORM>
            </PROPERTY>
            <PROPERTY name="uuid" type="STRING" readOnly="true">
                <DESC>The Unique Unit IDentifier for the terminal.</DESC>
                <APPLIES msiOnly="true"></APPLIES>
                <PLATFORM>WM, CE, Android</PLATFORM>
            </PROPERTY>
            <PROPERTY name="applicationIconBadge" type="INTEGER"  productException="eb">
                <DESC>Set the application icon to have this badge number. Set to 0 (zero) to remove badge.</DESC>
                <PLATFORM>iOS</PLATFORM>
            </PROPERTY>
            <PROPERTY name="httpProxyURI" type="STRING">
                <DESC>Set HTTP proxy parameters for using the Network module. Example: 'user:password@url:port'. Supports basic authentication only. Do not include 'http://'. Setting this property overrides http_proxy_uri, http_proxy_host, http_proxy_port, http_proxy_user and http_proxy_password. Proxy settings for Windows Mobile/CE with Zebra WebKit should be configured in the config.xml file.</DESC>
                <PLATFORM>Android, iOS, WM, Win32</PLATFORM>
            </PROPERTY>
            <PROPERTY name="lockWindowSize" type="BOOLEAN" default="false">
                <DESC>Lock / unlock the window size change by the user. When running on RhoSimulator, this method is supported only for Windows OS.</DESC>
                <PLATFORM>Win32</PLATFORM>
            </PROPERTY>
            <PROPERTY name="keyboardState" type="STRING" default="See Description">
                <DESC>For Windows Mobile and Windows CE the keyboard can be manually shown or hidden as required. All other platforms only support 'automatic'. The default state for Windows Mobile and Windows CE is manual, for all other platforms it is automatic.</DESC>
                <PLATFORM>WM</PLATFORM>
                <APPLIES msiOnly="true"></APPLIES>
                <VALUES>
                    <VALUE constName="KEYBOARD_SHOWN" value ="shown">
                        <DESC>Shows the on screen keyboard, after setting the keyboard to shown or hidden it will no longer appear / disappear automatically until you set this property to automatic.</DESC>
                    </VALUE>
                    <VALUE constName="KEYBOARD_HIDDEN" value ="hidden">
                        <DESC>Hides the on screen keyboard, after setting the keyboard to shown or hidden it will no longer appear / disappear automatically until you set this property to automatic. This is most useful if your device has a hardware keyboard or you are scanning / capturing data to an input field.</DESC>
                    </VALUE>
                    <VALUE constName="KEYBOARD_AUTOMATIC" value ="automatic">
                        <DESC>Automatically shows or hides the keyboard as needed by the application.</DESC>
                    </VALUE>
                </VALUES>
            </PROPERTY>
            <PROPERTY name="localServerPort" type="INTEGER" default="8080" readOnly="true">
                <DESC>Port of the local (embedded) HTTP server. This parameter is mainly for debug purposes. If not specified, the platform will detect a free port on the device and use that one.</DESC>
            </PROPERTY>
            <PROPERTY name="NodejsServerPort" type="INTEGER" default="3000" readOnly="true">
                <DESC>Port of the local (embedded) Node.js HTTP server if it started (only for Node.js type applications).</DESC>
            </PROPERTY>
            <PROPERTY name="freeServerPort" type="INTEGER" readOnly="true">
                <DESC>Get free local server port, available for binding.</DESC>
            </PROPERTY>
            <PROPERTY name="screenAutoRotate" type="BOOLEAN" default="true">
                <DESC>Screen auto rotate.</DESC>
                <PLATFORM>Android, iOS</PLATFORM>
            </PROPERTY>
            <PROPERTY name="hasTouchscreen" type="BOOLEAN" readOnly="true">
                <DESC>Returns true if the device has touch screen capabilities.  For Win32 desktop builds this API will return whether mouse support is available.</DESC>
            </PROPERTY>
            <PROPERTY name="webviewFramework" type="STRING" readOnly="true">
                <DESC>Browser framework identity string.</DESC>
            </PROPERTY>
            <PROPERTY name="screenSleeping" type="BOOLEAN">
                <DESC>If true, then screen will go to sleep by system inactivity timeout. If false then screen never go to sleep while application is in foreground.</DESC>
                <PLATFORM>Android, iOS</PLATFORM>
            </PROPERTY>
            <PROPERTY name="hasNetwork" type="BOOLEAN" readOnly="true" deprecated="true">
                <DESC>Use Network.hasNetwork to tell if the device is connected to the network.</DESC>
            </PROPERTY>
            <PROPERTY name="hasWifiNetwork" type="BOOLEAN" readOnly="true" deprecated="true">
                <DESC>Use Network.hasWifiNetwork to tell if the device is connected to the wifi network.</DESC>
            </PROPERTY>
            <PROPERTY name="hasCellNetwork" type="BOOLEAN" readOnly="true" deprecated="true">
                <DESC>Use Network.hasCellNetwork to tell if device is connected to the cell network.</DESC>
            </PROPERTY>
            <PROPERTY name="hasSqlite" type="BOOLEAN" readOnly="true" deprecated="true">
                <DESC>Returns true if the device has sqlite capabilities (previously only BlackBerry did not support this).</DESC>
            </PROPERTY>
        </PROPERTIES>
        <METHODS  access="STATIC">
            <ALIASES>
                <ALIAS new="get_property" existing="getProperty" deprecated="true">
                    <DESC>Use property names methods instead.</DESC>
                </ALIAS>

                <ALIAS new="run_app" existing="runApplication" deprecated="true"/>
                <ALIAS new="app_install" existing="applicationInstall" deprecated="true"/>
                <ALIAS new="app_installed?" existing="isApplicationInstalled" deprecated="true"/>
                <ALIAS new="app_uninstall" existing="applicationUninstall" deprecated="true"/>
                <ALIAS new="set_do_not_bakup_attribute" existing="setDoNotBackupAttribute" deprecated="true"/>

            </ALIASES>
            <METHOD name="applicationInstall">
                <DESC>Install an application.</DESC>
              <PLATFORM>iOS, WM, Win32, Android</PLATFORM>
                <PARAMS>
                    <PARAM name="applicationUrl" type="STRING">
                        <DESC>The url of an application to install on the device.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="isApplicationInstalled">
                <DESC>Checks if the specified applicationName is installed on the device.</DESC>
                <PLATFORM>iOS, WM, Win32, Android</PLATFORM>
                <PARAMS>
                    <PARAM name="applicationName" type="STRING">
                        <DESC>The name of the application.</DESC>
                    </PARAM>
                </PARAMS>
                <RETURN type="BOOLEAN"/>
            </METHOD>

            <METHOD name="applicationUninstall">
                <DESC>Uninstall the application. Not Supported on Windows CE devices.</DESC>
                <PLATFORM>WM, Win32, Android</PLATFORM>
                <PARAMS>
                    <PARAM name="applicationName" type="STRING">
                        <DESC>The name of the application.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="getStartParams">
                <DESC>Return the command line parameters. At Android start parameters are returned as URL query string starting with '?', name-value delimiter '=' and name value pairs delimiter '&#038;'.</DESC>
                <CALLBACK type="STRING"/>
                <PLATFORM>WM, CE, Win32, Android</PLATFORM>
            </METHOD>

            <METHOD name="openUrl">
                <DESC>Open the application associated with the URL. Behavior may be different on different platforms and depend on installed software. For example, open URL with http:// prefix will execute the Web Browser installed on system and open URL in executed browser. Note: For opening pdf files on android devices it is necessary to add option "no_compression: [ pdf ]" to android section in build.yml. In android, "sms:","mailto:","tel:","http:","https:","file:" are supported. For file url the proper permission and path has to be given. For external storage space fully qualified path has to be given.(Example:-file:///storage/sdcard/sample.jpg).  Hence only external storage space and userFolder are supported for file uri in android.
                </DESC>
                <PARAMS>
                    <PARAM name="url" type="STRING">
                        <DESC>URL as string.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="unzipFile" callbackType="optional">
                <DESC>Unzip file.</DESC>
                <PARAMS>
                    <PARAM name="localPathToZip" type="STRING">
                        <DESC>The path to the file to be unzipped. Application should have write permissions to this folder.</DESC>
                    </PARAM>
                    <PARAM name="password" type="STRING">
                        <DESC>Password for the zip.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>

                    <PARAM name="outputFileName" type="STRING">
                        <DESC>Output file name. Used when decompressing gzip streams.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>

                </PARAMS>
            </METHOD>

            <METHOD name="zipFile">
                <DESC>Zip one file. Zip archive must placed to the folder where application can write files. </DESC>
                <PARAMS>
                    <PARAM name="localPathToZip" type="STRING">
                        <DESC>The path to the specified zip. Application should have write permissions to this folder.</DESC>
                    </PARAM>
                    <PARAM name="localPathToFile" type="STRING">
                        <DESC>The path to the file to be zipped.</DESC>
                    </PARAM>
                    <PARAM name="password" type="STRING">
                        <DESC>Password for the zip.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="zipFiles">
                <DESC>Zip list of files.</DESC>
                <PARAMS>
                    <PARAM name="localPathToZip" type="STRING">
                        <DESC>The path to the specified zip.</DESC>
                    </PARAM>
                    <PARAM name="basePath" type="STRING">
                        <DESC>Base path to the files to be zipped.</DESC>
                    </PARAM>
                    <PARAM name="filePathsToZip" type="ARRAY">
                        <DESC>List of file paths to be zipped.</DESC>
                    </PARAM>
                    <PARAM name="password" type="STRING">
                        <DESC>Password for the zip.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="setRegistrySetting">
                <DESC>Set a value in the device registry. Only applicable on Windows Mobile / Embedded Handheld and CE devices. When running on RhoSimulator, this method is supported only for Windows OS.</DESC>
                <PLATFORM>WM</PLATFORM>
                <PARAMS>
                    <PARAM name="propertyMap" type="HASH" propertyHash="true">
                        <DESC>Map of properties associated with the registry key being set.</DESC>
                        <PARAMS>
                            <PARAM name="hive" type="STRING">
                                <DESC>The hive name.</DESC>
                                <VALUES>
                                    <VALUE constName="REGKEY_CLASSES_ROOT" value ="HKCR">
                                        <DESC>Set the property in the HKEY_CLASSES_ROOT hive.</DESC>
                                    </VALUE>
                                    <VALUE constName="REGKEY_CURRENT_USER" value ="HKCU">
                                        <DESC>Set the property in the HKEY_CURRENT_USER hive.</DESC>
                                    </VALUE>
                                    <VALUE constName="REGKEY_LOCAL_MACHINE" value ="HKLM">
                                        <DESC>Set the property in the HKEY_LOCAL_MACHINE hive.</DESC>
                                    </VALUE>
                                    <VALUE constName="REGKEY_USERS" value ="HKU">
                                        <DESC>Set the property in the HKEY_USERS hive.</DESC>
                                    </VALUE>
                                </VALUES>
                            </PARAM>
                            <PARAM name="type" type="STRING">
                                <DESC>The type.</DESC>
                                <VALUES>
                                    <VALUE constName="REGTYPE_SZ" value ="String">
                                        <DESC>The type of the value being set is a string.</DESC>
                                    </VALUE>
                                    <VALUE constName="REGTYPE_BINARY" value ="Binary">
                                        <DESC>The type of the value being set is a binary number.</DESC>
                                    </VALUE>
                                    <VALUE constName="REGTYPE_DWORD" value ="DWORD">
                                        <DESC>The type of the value being set is a natural number (DWORD)</DESC>
                                    </VALUE>
                                    <VALUE constName="REGTYPE_MULTI_SZ" value ="MultiSZ">
                                        <DESC>The type of the value being set is a multi line string. Separate your lines with \n (\\n in JavaScript)</DESC>
                                    </VALUE>
                                </VALUES>
                            </PARAM>
                            <PARAM name="key" type="STRING">
                                <DESC>Full path of the key, including '\' separators as required. Remember to use '\\' in JavaScript to specify backslash.</DESC>
                            </PARAM>
                            <PARAM name="setting" type="STRING">
                                <DESC>The name of the registry setting to be set.</DESC>
                            </PARAM>
                            <PARAM name="value" type="STRING">
                                <DESC>The registry value to be set.</DESC>
                            </PARAM>
                            <PARAM name="persistent" type="BOOLEAN">
                                <DESC>Whether or not to create a corresponding merge file, setting to true will cause your value to persist across a device clean boot. A .reg file is written to the \Application folder on the device to persist the setting.</DESC>
                            </PARAM>
                        </PARAMS>
                    </PARAM>
                </PARAMS>
                <RETURN type="BOOLEAN">
                    <DESC>Whether or not the registry key was successfully set.</DESC>
                </RETURN>
            </METHOD>

            <METHOD name="getRegistrySetting">
                <DESC>Retrieve a value from the device registry. Only applicable on Windows Mobile / Embedded Handheld and CE devices. When running on RhoSimulator, this method is supported only for Windows OS.</DESC>
                <PLATFORM>WM</PLATFORM>
                <PARAMS>
                    <PARAM name="propertyMap" type="HASH" propertyHash="true">
                        <DESC>Map of properties associated with the registry key being set.</DESC>
                        <PARAMS>
                            <PARAM name="hive" type="STRING">
                                <DESC>The hive name, see setRegistrySetting.</DESC>
                            </PARAM>
                            <PARAM name="key" type="STRING">
                                <DESC>Full path of the key, including '\' separators as required. Remember to use '\\' in JavaScript to specify backslash.</DESC>
                            </PARAM>
                            <PARAM name="setting" type="STRING">
                                <DESC>The name of the setting to be retrieved.</DESC>
                            </PARAM>
                        </PARAMS>
                    </PARAM>
                </PARAMS>
                <RETURN type="STRING">
                    <DESC>Registry value of the key.</DESC>
                </RETURN>
            </METHOD>

            <METHOD name="deleteRegistrySetting">
                <DESC>Deletes the specified value from the device registry. Only applicable on Windows Mobile / Embedded Handheld and CE devices. When running on RhoSimulator, this method is supported only for Windows OS.</DESC>
                <PLATFORM>WM</PLATFORM>
                <PARAMS>
                    <PARAM name="propertyMap" type="HASH" propertyHash="true">
                        <DESC>Map of properties associated with the registry key being set.</DESC>
                        <PARAMS>
                            <PARAM name="hive" type="STRING">
                                <DESC>The hive name, setRegistrySetting.</DESC>
                            </PARAM>
                            <PARAM name="key" type="STRING">
                                <DESC>Full path of the key, including '\' separators as required. Remember to use '\\' in JavaScript to specify backslash.</DESC>
                            </PARAM>
                            <PARAM name="setting" type="STRING">
                                <DESC>The name of the setting to be deleted.</DESC>
                            </PARAM>
                            <PARAM name="persistent" type="BOOLEAN">
                                <DESC>If the registry value was set to be persistent, ie a corresponding .reg file was created in the \Application folder then setting true here will delete that .reg file.</DESC>
                            </PARAM>
                        </PARAMS>
                    </PARAM>
                </PARAMS>
                <RETURN type="BOOLEAN">
                    <DESC>Whether or not the registry key was successfully deleted.</DESC>
                </RETURN>
            </METHOD>

            <METHOD name="setWindowFrame">
                <DESC>Change application window position and size.</DESC>
                <PLATFORM>Win32</PLATFORM>
                <PARAMS>
                    <PARAM name="x" type="INTEGER">
                        <DESC>Left corner of window.</DESC>
                    </PARAM>
                    <PARAM name="y" type="INTEGER">
                        <DESC>Top corner of window.</DESC>
                    </PARAM>
                    <PARAM name="width" type="INTEGER">
                        <DESC>Width of window.</DESC>
                    </PARAM>
                    <PARAM name="height" type="INTEGER">
                        <DESC>Height of window.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="setWindowPosition">
                <DESC>Change application window position.</DESC>
                <PLATFORM>Win32</PLATFORM>
                <PARAMS>
                    <PARAM name="x" type="INTEGER">
                        <DESC>Left corner of window.</DESC>
                    </PARAM>
                    <PARAM name="y" type="INTEGER">
                        <DESC>Top corner of window.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="setWindowSize">
                <DESC>Change application window size.</DESC>
                <PLATFORM>Win32</PLATFORM>
                <PARAMS>
                    <PARAM name="width" type="INTEGER">
                        <DESC>Width of the window.</DESC>
                    </PARAM>
                    <PARAM name="height" type="INTEGER">
                        <DESC>Width of the of window.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="bringToFront" deprecated="true">
                <DESC>Bring application window to the top of the screen.</DESC>
                <PLATFORM>WM</PLATFORM>
            </METHOD>

            <METHOD name="replaceCurrentBundle"  deprecated="true" generateDoc="false">
                <DESC>Replace application bundle.</DESC>
                <PARAMS>
                    <PARAM name="pathToBundle" type="STRING">
                        <DESC>Local path to bundle folder. See Build Application/Upgrade Application section to find out how to build bundle on computer.</DESC>
                    </PARAM>
                    <PARAM name="params" type="HASH">
                        <DESC>Update parameters.</DESC>
                        <PARAMS>
                            <PARAM name="do_not_restart_app" type="BOOLEAN">
                                <DESC>If true, when Application will not be automatically restarted after the replace bundle is finished.</DESC>
                            </PARAM>
                        </PARAMS>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="deleteFolder" deprecated="true">
                <DESC>Delete folder.</DESC>
                <PARAMS>
                    <PARAM name="pathToFolder" type="STRING">
                        <DESC>Path to folder.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="setDoNotBackupAttribute" productException="eb">
                <DESC>Set do not backup attribute for file.</DESC>
                <PLATFORM>iOS</PLATFORM>
                <PARAMS>
                    <PARAM name="pathToFile" type="STRING">
                        <DESC>Path to file.</DESC>
                    </PARAM>
                    <PARAM name="doNotBackup" type="BOOLEAN">
                        <DESC>True set doNotBackup attribute to file (exclude this file from backup), false for remove doNotBackup attribute from file.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="isBlobAttr" deprecated="true">
                <DESC>Use Database.SQLite3.isBlobAttr: is model attribute is blob.</DESC>
                <PARAMS>
                    <PARAM name="partition" type="STRING"/>
                    <PARAM name="sourceID" type="INTEGER"/>
                    <PARAM name="attrName" type="STRING"/>
                </PARAMS>
                <RETURN type="BOOLEAN"/>
            </METHOD>

            <METHOD name="updateBlobAttribs" deprecated="true">
                <DESC>Use Database.updateBlobAttribs: update model blob attributes list.</DESC>
                <PARAMS>
                    <PARAM name="partition" type="STRING"/>
                    <PARAM name="sourceID" type="INTEGER"/>
                </PARAMS>
            </METHOD>

            <METHOD name="get_locale" deprecated="true">
                <DESC>Use System.locale property: Current device locale.</DESC>
                <RETURN type="STRING"/>
            </METHOD>

            <METHOD name="set_locale" deprecated="true" generateAPI="false" access="STATIC">
                <DESC>Use Application.setLocale method: set application specific locale.</DESC>
                <PARAMS>
                    <PARAM name="locale_code" type="STRING"/>
                    <PARAM name="country_code" type="STRING"/>
                </PARAMS>
            </METHOD>

            <METHOD name="setPushNotification" deprecated="true">
                <DESC>Use Push.setPushNotification: Register push callback, the method to call upon receiving a push message.</DESC>
                <PARAMS>
                    <PARAM name="url" type="STRING">
                        <DESC>URL of the callback method. If empty, unregisters rhoconnect-push.</DESC>
                    </PARAM>
                    <PARAM name="url_params" type="STRING">
                        <DESC>Parameters which will be added to callback URL.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                    <PARAM name="push_client" type="STRING">
                        <DESC>Name of a push service client. Current values can be 'rhoconnect_push' or 'gcm' or 'legacy' or empty.</DESC>
                        <CAN_BE_NIL>
                            <DESC>The call will be applied to every push client.</DESC>
                        </CAN_BE_NIL>
                    </PARAM>
                </PARAMS>
            </METHOD>

            <METHOD name="setScreenRotationNotification" deprecated="true">
                <DESC>Use ScreenOrientation.setScreenOrientationEvent: Notify (call a callback method) when the screen rotates.</DESC>
                <PLATFORM>iOS, Android, WM</PLATFORM>
                <PARAMS>
                    <PARAM name="url" type="STRING">
                        <DESC>URL of the callback method. If empty, unregisters notification callback.</DESC>
                    </PARAM>
                    <PARAM name="url_params" type="STRING">
                        <DESC>Parameters which will be added to callback URL.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                </PARAMS>
            </METHOD>
            <METHOD name="exit" deprecated="true">
                <DESC>Use Application.quit: exit application.</DESC>
            </METHOD>
            <METHOD name="set_sleeping" deprecated="true">
                <DESC>Use System.screenSleeping property: enable / disable phone sleeping.</DESC>
                <PARAMS>
                    <PARAM name="enable" type="BOOLEAN"/>
                </PARAMS>
            </METHOD>
            <METHOD name="startTimer" deprecated="true" productException="eb">
                <DESC>Start timer. (It's works only with Ruby)</DESC>
                <PARAMS>
                    <PARAM name="interval" type="INTEGER">
                        <DESC>Timer interval.</DESC>
                    </PARAM>
                    <PARAM name="url" type="STRING">
                        <DESC>URL of the callback method.</DESC>
                    </PARAM>
                    <PARAM name="url_params" type="STRING">
                        <DESC>Parameters which will be added to callback URL.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                </PARAMS>
            </METHOD>
            <METHOD name="stopTimer" deprecated="true" productException="eb">
                <DESC>Stop timer. (It's works only with Ruby)</DESC>
                <PARAMS>
                    <PARAM name="url" type="STRING">
                        <DESC>URL of the callback method which identify the timer to stop.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>
            <METHOD name="setNetworkStatusNotify" deprecated="true">
                <DESC>Use Network.setStatusNotify: set network notification callback.</DESC>
                <PARAMS>
                    <PARAM name="url" type="STRING">
                        <DESC>The url to the user-defined callback method.</DESC>
                    </PARAM>
                    <PARAM name="poll_interval" type="INTEGER"  productException="eb">
                        <DESC>IOS. The network status polling period for systems that can not notify network status change immediately. Default value is 20 seconds.</DESC>
                    </PARAM>
                </PARAMS>
            </METHOD>
            <METHOD name="clearNetworkStatusNotify" deprecated="true">
                <DESC>Use Network.clearStatusNotify: Clear network status callback.</DESC>
            </METHOD>
            <METHOD name="set_http_proxy_url" deprecated="true">
                <DESC>Use System.httpProxyURI property: To use client with the HTTP proxy.</DESC>
                <PARAMS>
                    <PARAM name="proxyURI" type="STRING"/>
                </PARAMS>
                <PLATFORM>WM, CE, WIN32</PLATFORM>
            </METHOD>
            <METHOD name="unset_http_proxy" deprecated="true">
                <DESC>Use System.httpProxyURI property: Stop using HTTP proxy that was set by the command line, rhoconfig.txt or set_http_proxy_url.</DESC>
                <PLATFORM>WM, CE, WIN32</PLATFORM>
            </METHOD>
            <METHOD name="set_application_icon_badge" deprecated="true"  productException="eb">
                <DESC>Use System.applicationIconBadge: Set the application icon to have this badge number. Set to 0 (zero) to remove badge.iOS only.</DESC>
                <PLATFORM>iOS</PLATFORM>
                <PARAMS>
                    <PARAM name="badgeNumber" type="INTEGER"/>
                </PARAMS>
            </METHOD>
            <METHOD name="runApplication">
                <DESC>Run an application.</DESC>
                <PLATFORM>iOS, WM, Win32, Android</PLATFORM>
                <PARAMS>
                    <PARAM name="appName" type="STRING">
                        <DESC>The name of the application on the device to run. It depends from platform. On iOS it is BundleURLScheme of executed application.</DESC>
                    </PARAM>
                    <PARAM name="params" type="STRING">
                        <DESC>Start parameters string. Executed Application can receive this string by getStartParams method. Parameter could be just value, or key-value pair separated by '=' sign. Please note that for each platform there are distinct ways to write several params at once. On Android parameters should be separated by an amperstand, on other platforms by a comma or a space.</DESC>
                        <CAN_BE_NIL/>
                    </PARAM>
                    <PARAM name="blockingCall" type="BOOLEAN">
                        <DESC>Not Implemented.</DESC>
                        <CAN_BE_NIL>
                            <DESC>False by default.</DESC>
                        </CAN_BE_NIL>
                    </PARAM>
                </PARAMS>
            </METHOD>
            <METHOD name="hideSplashScreen">
                <DESC>Hide Splash Screen if delay is configured as -1 in rhoconfig.txt</DESC>
                <PLATFORM>Android</PLATFORM>
            </METHOD>

            <METHOD name="getSystemInfo">
                <DESC>Gathers system dependent information ( hw info, installed packages etc ). Return key/value pairs depend on platform.</DESC>
                <PLATFORM>Android, iOS</PLATFORM>
                <RETURN type="HASH"></RETURN>
            </METHOD>

        </METHODS>

        <VER_INTRODUCED>1.0.0</VER_INTRODUCED>
        <PLATFORM>iOS, WM, Win32, WP8, Android</PLATFORM>

        <EXAMPLES>
            <EXAMPLE title="Get device capabilities">
                <SECTIONS>
                    <SECTION>
                        <DESC>You can find out whether the device has access to several system-dependent features such as calendar, camera, touchscreen, etc.</DESC>
                        <CODE>
                            <RUBY><![CDATA[
# Returns true if device supports Symbol device capabilities, such as barcode scanner, etc.
is_symbol_device = Rho::System.isSymbolDevice

has_calendar = Rho::System.hasCalendar
has_camera = Rho::System.hasCamera
has_cell_network = Rho::System.hasCellNetwork
has_wifi_network = Rho::System.hasWifiNetwork
has_network = Rho::System.hasNetwork
has_sqlite = Rho::System.hasSqlite
has_touchscreen = Rho::System.hasTouchscreen

message = "
Symbol device: #{is_symbol_device}
Calendar: #{has_calendar}
Camera: #{has_camera}
Cell network: #{has_cell_network}
WiFi: #{has_wifi_network}
Network: #{has_network}
SQLite: #{has_sqlite}
Touchscreen: #{has_touchscreen}
"
Alert.show_popup(message)
]]>
                            </RUBY>
                            <JAVASCRIPT><![CDATA[
// Returns true if device supports Symbol device capabilities, such as Scanner, etc.
var is_symbol_device = Rho.System.isSymbolDevice;

var has_calendar = Rho.System.hasCalendar;
var has_camera = Rho.System.hasCamera;
var has_cell_network = Rho.System.hasCellNetwork;
var has_wifi_network = Rho.System.hasWifiNetwork;
var has_network = Rho.System.hasNetwork;
var has_sqlite = Rho.System.hasSqlite;
var has_touchscreen = Rho.System.hasTouchscreen;

message = "Symbol device: "+is_symbol_device+"\n"+
  "Calendar: "+has_calendar+"\n"+
  "Camera: "+has_camera+"\n"+
  "Cell network: "+has_cell_network+"\n"+
  "WiFi: "+has_wifi_network+"\n"+
  "Network: "+has_network+"\n"+
  "SQLite: "+has_sqlite+"\n"+
  "Touchscreen: "+has_touchscreen;

alert(message);
]]>
                            </JAVASCRIPT>
                            </CODE>
                        </SECTION>
                    </SECTIONS>
                </EXAMPLE>

                <EXAMPLE title="Get version information">
                    <SECTIONS>
                        <SECTION>
                            <DESC>Retrieve the version of the underlying Operating System.</DESC>
                            <CODE>
                                <RUBY><![CDATA[
version_info = Rho::System.osVersion
Alert.show_popup(version_info)
]]>
                                </RUBY>
                                <JAVASCRIPT><![CDATA[
var version_info = Rho.System.osVersion;
alert(version_info);
]]>
                                </JAVASCRIPT>
                            </CODE>
                        </SECTION>
                    </SECTIONS>
                </EXAMPLE>

                <EXAMPLE title="Install / uninstall other applications">
                    <SECTIONS>
                        <SECTION>
                            <DESC>You can ask the system to install or uninstall a different application. This feature is useful for installing sub-applications, custom upgrades, etc.</DESC>
                            <CODE>
                                <RUBY><![CDATA[
#install an application from given url
Rho::System.applicationInstall("/bin/target/android/rhodes-app-debug.apk")

# uninstall the application
Rho::System.applicationUninstall("rhodes-app")
]]>
                                </RUBY>
                                <JAVASCRIPT><![CDATA[
// install an application from given url
Rho.System.applicationInstall("/bin/target/android/rhodes-app-debug.apk");

// uninstall the application
Rho.System.applicationUninstall("rhodes-app");
]]>
                                </JAVASCRIPT>
                            </CODE>
                        </SECTION>
                    </SECTIONS>
                </EXAMPLE>

                <EXAMPLE title="Get the local server port for debug purposes">
                    <SECTIONS>
                        <SECTION>
                            <DESC>If necessary, you can read the embedded HTTP server's port, for debugging purposes.</DESC>
                            <CODE>
                                <RUBY><![CDATA[
# Get port of the local (embedded) HTTP served
local_port = Rho::System.localServerPort()
Alert.show_popup(local_port)
]]>
                                </RUBY>
                                <JAVASCRIPT><![CDATA[
// Get port of the local (embedded) HTTP server
var local_port = Rho.System.localServerPort;
alert(local_port);
]]>
                                </JAVASCRIPT>
                            </CODE>
                        </SECTION>
                    </SECTIONS>
                </EXAMPLE>

                <EXAMPLE title="Zipping and unzipping files">
                    <SECTIONS>
                        <SECTION>
                            <DESC>If you ever need to build or extract zip archives, RhoMobile includes easy-to-use APIs for this task.</DESC>
                            <CODE>
                                <RUBY><![CDATA[
# unzip a file
Rho::System.unzipFile("/app/public/sample.zip")

# zip a file
Rho::System.zipFile("/app/public", "/app/public/sample.txt")
]]>
                                </RUBY>
                                <JAVASCRIPT><![CDATA[
// unzip file
Rho.System.unzipFile("/app/public/sample.zip");

// zip file
Rho.System.zipFile("/app/public/zipfile.zip", "/app/public/sample.txt");
]]>
                                </JAVASCRIPT>
                            </CODE>
                        </SECTION>
                    </SECTIONS>
                </EXAMPLE>

                <EXAMPLE title="Working with the Windows Registry">
                    <SECTIONS>
                        <SECTION>
                            <DESC>On devices running Windows Mobile, Windows CE, Windows Embedded Handheld and Windows Embedded CE it is possible to interact with the registry, this example shows how to do that.</DESC>
                            <CODE>
                                <RUBY><![CDATA[
#/app/Model

#  Retrieve a value from the Registry
def get_registry_sync
    theRegSetting = Rho::System.getRegistrySetting({hive:'HKLM', key:'software', Setting:'RhoElementsTest'})
    puts "Registry Setting retrieved: #{theRegSetting}"
end

#  Set a value in the registry which will persist across a clean boot of the device
def set_registry_sync
    theRegSetting = Rho::System.setRegistrySetting({hive:'HKLM', type:'String', key:'Software', setting:'RhoElementsTest', value:'MVC ftw', persistent:true})
    puts "Registry Setting Success?: #{theRegSetting}"
end

#  Delete a value from the registry
def delete_registry_sync
    theRegSetting = Rho::System.deleteRegistrySetting({hive:'HKLM', key:'Software', setting:'RhoElementsTest', persistent:true})
    puts "Registry Deleting Success?: #{theRegSetting}"
end
]]>
                            </RUBY>
                        </CODE>
                    </SECTION>
                </SECTIONS>
            </EXAMPLE>
        </EXAMPLES>
    </MODULE>
</API>
