<style>
	li {
		list-style: none;
	}
</style>

		<div class="toolbar">
			<h1 id="pageTitle">
				Settings
			</h1>
		</div>

		<ul id="settings" selected="true" title="Settings">
			<li>Client ID<br/><span style="font-size: 60%"><%=Rhom::Rhom::client_id%></span></li>
			<li><a href="Source">Edit Sources</a></li>
			<li><a href="Reset"><font color="red">Reset database</font></a></li>
			<li><a href="do_sync" target="_self">Perform Sync</a></li>
		</ul>


