<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IClientOperationService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IClientSessionService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IApplicationMonitorService"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="24:10:00"
            sendTimeout="24:00:00" transactionFlow="false" transferMode="Buffered"
            transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IClientStreamingService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="65538"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/ExplorerService/ClientOperationService/ClientOperationService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IClientOperationService"
          contract="ClientOperationService.IClientOperationService"
          name="NetNamedPipeBinding_IClientOperationService" />
      <endpoint address="net.pipe://localhost/ExplorerService/ClientSessionService/ExplorerClientsMonitorService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IClientSessionService"
          contract="ClientSessionService.IClientSessionService" name="NetNamedPipeBinding_IClientSessionService" />
      <endpoint address="net.pipe://localhost/ExplorerService/ApplicationMonitorService/ApplicationMonitorService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IApplicationMonitorService"
          contract="ApplicationMonitorService.IApplicationMonitorService"
          name="NetNamedPipeBinding_IApplicationMonitorService" />
      <endpoint address="net.pipe://localhost/ExplorerService/ClientStreamingService/ClientStreamingService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IClientStreamingService"
          contract="ClientStreamingService.IClientStreamingService"
          name="NetNamedPipeBinding_IClientStreamingService" />
    </client>
  </system.serviceModel>
</configuration>