<html>
	<head>
		<title>Sources</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<style type="text/css" media="screen">@import "/shared/js/iui/iui.css"; @import "/shared/css/rho.css";</style>
		<script type="application/x-javascript" src="/shared/js/iui/iui.js"></script>
		<script src="/shared/js/jquery-1.2.6.min.js"></script>
		<script src="/shared/js/rho.js"></script> 
	</head>
	<body>
		<div class="toolbar">
			<h1 id="pageTitle">
				<script language="JavaScript">
					document.write(document.title)
				</script>
			</h1>
			<a id="backButton" class="button" href="./"></a>
		</div>
		<ul id="sources" selected="true" title="Sources">
			<%@sources.each do |key,value|%>
				<li><%=link_to "#{key}", "edit", "{#{value['source_id']}}"%></li>
			<%end%>
			<li><a href="/" target="_self">Home</a></li>
		</ul>
	</body>
</html>