<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li>
        <div class="itemLabel">
          <span class="title">Client ID:</span>
        </div>
        <div class="itemValue">
          <span class="clientID"><%= Rhom::Rhom::client_id %></span>
        </div>
      </li>

    </ul>
  </div>
</div>
