[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailfishrhodes
Name=harbour-sailfishrhodes
Exec=invoker --type=silica-qt5 -s /usr/bin/harbour-sailfishrhodes
