[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailfishrhodes
Name=sailfishrhodes
Exec=invoker --type=silica-qt5 -s /usr/bin/sailfishrhodes
