<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>BluetoothChat</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <% if System::get_property('platform') == 'WINDOWS' && System::get_property('webview_framework') !~ /^WEBKIT/ %>
    <% elsif System::get_property('platform') != 'Blackberry' || System::get_property('webview_framework') =~ /^WEBKIT/ %>
        <script src="/public/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/public/jquery/jquery.json-2.3.min.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="/public/jasmine/jasmine.css">
        <script type="text/javascript" src="/public/jasmine/jasmine.js"></script>
        <script type="text/javascript" src="/public/jasmine/jasmine-html.js"></script>

        <script type="text/javascript" charset="utf-8" src="/public/api/generated/rhoapi.js"></script>
        <script type="text/javascript" charset="utf-8" src="/public/api/generated/rhoapi-modules.js"></script>

        <script type="text/javascript" charset="utf-8" src="/public/api/spec-rhoapi.js"></script>

  <% end %>
  </head>
  <body onUnload="onUnload();">
  <%= @content %>
  </body>
</html>
