lib/**/*.o
*~
*.iseq
tags
*.swp
.DS_Store
rakefile.rb
rhobuild.yml
rhobuild.*.yml
lastbuildoptions.yml

Gemfile.lock

#platform/iphone/Info.plist
lib/commonAPI/*/*/*/generated/
lib/commonAPI/*/*/*/*/generated/
lib/commonAPI/*/*/*/*/*/debug/
lib/commonAPI/*/ext/platform/iphone/build/
lib/commonAPI/*/ext/platform/qt/moc_*.cpp
lib/commonAPI/*/ext/platform/qt/moc_*.h
lib/commonAPI/*/ext/platform/qt/qrc_*.cpp
lib/extensions/*/*/*/generated/
lib/extensions/*/*/*/*/generated/
lib/extensions/*/ext/*/platform/iphone/build/
lib/extensions/*/ext/iphone/build/
lib/extensions/*/ext/platform/iphone/build/
lib/extensions/openssl.so/wm/tmp/
lib/*/*/ext/platform/iphone/*.a
lib/*/*/ext/*/platform/iphone/*.a
platform/iphone/*/*.link
platform/iphone/*/build/
platform/iphone/*/rholog.txt
platform/iphone/bin/*
platform/iphone/build/
platform/mac/**/build/*
platform/mac/bin/*
platform/osx/Rhodes Debugger/build/*
platform/rhodes-symbian-emulator-build/*
platform/shared/*/iphone/*/build/*
platform/shared/*/iphone/build/*
platform/shared/*/win32/bin/*
platform/shared/qt/*/*/Debug
platform/shared/common/barcode_engine.h
platform/symbian/bld.inf
platform/symbian/curl/bld.inf
platform/symbian/curl/curl_lib.mmp
platform/symbian/curl/Makefile
platform/symbian/curl/Makefile_curl_lib.mk
platform/symbian/Makefile
platform/symbian/qtscroller/bld.inf
platform/symbian/qtscroller/lib/QtScroller.prl
platform/symbian/qtscroller/Makefile
platform/symbian/qtscroller/src/bld.inf
platform/symbian/qtscroller/src/Makefile
platform/symbian/qtscroller/src/Makefile_QtScroller_lib.mk
platform/symbian/qtscroller/src/QtScroller_lib.mmp
platform/symbian/rhodes/apps/*
platform/symbian/rhodes/bld.inf
platform/symbian/rhodes/db/*
platform/symbian/rhodes/lib/*
platform/symbian/rhodes/Makefile
platform/symbian/rhodes/Makefile_rhodes_exe.mk
platform/symbian/rhodes/rhodes.loc
platform/symbian/rhodes/rhodes.rss
platform/symbian/rhodes/rhodes_exe.mmp
platform/symbian/rhodes/rhodes_installer.pkg
platform/symbian/rhodes/rhodes_reg.rss
platform/symbian/rhodes/rhodes_stub.pkg
platform/symbian/rhodes/rhodes_template.pkg
platform/symbian/rholib/bld.inf
platform/symbian/rholib/Makefile
platform/symbian/rholib/Makefile_rholib_lib.mk
platform/symbian/rholib/rholib_lib.mmp
platform/symbian/rubylib/bld.inf
platform/symbian/rubylib/Makefile
platform/symbian/rubylib/Makefile_rubylib_lib.mk
platform/symbian/rubylib/rubylib_lib.mmp
platform/symbian/sqlite3/bld.inf
platform/symbian/sqlite3/Makefile
platform/symbian/sqlite3/Makefile_sqlite3_lib.mk
platform/symbian/sqlite3/sqlite3_lib.mmp
platform/symbian/syncengine/bld.inf
platform/symbian/syncengine/Makefile
platform/symbian/syncengine/Makefile_syncengine_lib.mk
platform/symbian/syncengine/syncengine_l
platform/symbian/syncengine/syncengine_lib.mmp
lib/commonAPI/*/ext/platform/qt/debug
lib/commonAPI/*/ext/platform/qt/release
lib/commonAPI/*/ext/platform/qt/resources/*.cpp
platform/win32/**/*.pch
platform/win32/bin/*
platform/wm/**/*.pch
platform/wm/bin/*
platform/wm/build/cleanup.js
platform/wm/build/regs.txt
platform/wm/target/*
platform/wp7/**/obj/*
platform/wp7/*.sdf
platform/wp7/bin/*
platform/wp7/IronRuby/bin/Silverlight3Debug
platform/wp7/rhodes/obj/*
platform/wp7/WPApplication/Bin/*
platform/wp7/WPApplication/obj/*
platform/wp7/WPApplication/rho/*
platform/wp8/*/obj/*
platform/wp8/bin/*
platform/wp8/ipch/*
platform/uwp/*/obj/*
platform/uwp/platform
lib/commonApi/*/ext/platform/uwp/bin/*
platform/uwp/bin/*
platform/uwp/ipch/*
platform/uwp/RhoRuntimeInvoker/bin/*
platform/uwp/rhodes/Bin/*
platform/uwp/rhodes/rho/*
platform/uwp/rhodes/AppPackages/*
platform/uwp/bin/arm/debug/*
platform/uwp/bin/arm/release/*
platform/uwp/bin/x86/debug/*
platform/uwp/bin/x86/release/*
platform/uwp/bin/x64/debug/*
platform/uwp/bin/x64/release/*
platform/uwp/bin/win32/debug/*
platform/uwp/bin/win32/release/*
*.VC.opendb
rhodes/*/pkg/
rhodes/rhodes-framework/spec/bin/
rhoconnect-client/build/*
rhoconnect-client/C++/Tests/Win32/bin/*
rhoconnect-client/Java/Android/.metadata/*
rhoconnect-client/Java/Android/test/bin
rhoconnect-client/Java/Android/test/gen
rhoconnect-client/Java/RhoConnect/bin
rhoconnect-client/ObjectiveC/build/*
rhoconnect-client/ObjectiveC/Tests/build/*
rhoconnect-client/ObjectiveC/Tests/RhoConnectClientTest/build/*
rhoconnect-client/Samples/Java/android_store/bin
rhoconnect-client/Samples/Java/android_store/gen
rhoconnect-client/Samples/ObjectiveC/store/build/*

spec/**/**/bin/*
spec/**/app/local_server.rb
spec/**/bin/*
spec/**/faillog.txt
spec/**/rholog-*.txt
spec/**/RhoLogSpec.txt
spec/**/rhosimulator/
spec/**/sim-public*
spec/*/extensions/*/ext/platform/iphone/build/*
spec/api_generator_spec/**/generated/
spec/api_generator_spec/*/*/generated/
spec/api_generator_spec/*/*/*/generated/
spec/api_generator_spec/*/*/*/generated/
spec/api_generator_spec/*/*/*/*/generated/
spec/api_generator_spec/*/*/*/*/*/generated/
spec/api_generator_spec/*/*/*/*/*/*/generated/
spec/api_generator_spec/*/*/*/*/*/*/*/generated/
spec/api_generator_spec/extensions/*/ext/platform/*/build/
spec/api_generator_spec/rhosimulator/
spec/bin/*
spec/framework_spec/faillog.txt
spec/framework_spec/preverified/*
spec/javascript_api_spec/**/generated/
spec/javascript_api_spec/*/*/generated/
spec/javascript_api_spec/*/*/*/generated/
spec/javascript_api_spec/*/*/*/generated/
spec/javascript_api_spec/*/*/*/*/generated/
spec/javascript_api_spec/*/*/*/*/*/generated/
spec/javascript_api_spec/*/*/*/*/*/*/generated/
spec/javascript_api_spec/*/*/*/*/*/*/*/generated/
spec/js_spec/**/generated/
spec/js_spec/*/*/generated/
spec/js_spec/*/*/*/generated/
spec/js_spec/*/*/*/generated/
spec/js_spec/*/*/*/*/generated/
spec/js_spec/*/*/*/*/*/generated/
spec/js_spec/*/*/*/*/*/*/generated/
spec/js_spec/*/*/*/*/*/*/*/generated/
spec/phone_spec/last_bbver
spec/phone_spec/preverified/*
spec/phone_spec/RhoBundle/*

platform/bb/.metadata/*
platform/bb/bin/*
platform/bb/**/bin/*
platform/bb/target/*
platform/bb/build/LogFile.txt
platform/bb/*/.settings
#platform/bb/*/.project
#platform/bb/*/.classpath
*.err
platform/bb/.BB.jdw/*.files
*.jad
platform/bb/build/rholog.txt
platform/bb/preverified
platform/bb/build/MANIFEST.MF
#platform/bb/*/BlackBerry_App_Descriptor.xml
platform/bb/*/deliverables
platform/bb/RubyVM/src/com/rho/AppBuildConfig.java
platform/bb/RubyVM/src/com/rho/Capabilities.java
platform/bb/RubyVM/src/com/rho/Extensions.java
platform/bb/rhodes/RhoBundle.jar

platform/symbian/.metadata/*
platform/symbian/bin/*
platform/symbian/target/*
platform/symbian/*/.project
platform/symbian/rhodes/moc/*
abld.bat
ABLD.BAT
#*.sis
#*.sisx
.cproject
#*.hlp
*.hrh
nbproject
rholog.txt
RhoLog.txt
LogFile.txt

platform/android/.metadata/*
platform/android/Rhodes/assets
platform/android/Rhodes/bin
platform/android/Rhodes/libs
platform/android/Rhodes/obj
platform/android/**/bin
platform/android/bin
platform/android/target
platform/shared/*/bin
platform/android/**/default.properties
**/android/**/fireBaseValues.xml
platform/android/proguard/*.txt
platform/android/proguard/proguard-generated-rules.pro

#*.jar
*.cod
*.debug
*.rapc
*.log
*.obj
*.suo
*.user
*.pdb
*.idb
*.sdf
*.opensdf
*.VC.db

*.mode1v3
*.mode2v3
*.pbxuser
*.CAB
*.cab
*.ncb
*.perspectivev3

.gvide
*.gem
Manifest.txt

platform/shared/curl/lib/rhoconf.h
.idea
.project
#*.plist
#Info.plist

platform/bb/Hsqldb/Hsqldb.jar
platform/bb/RhoBundle/RhoBundle.jar
platform/bb/RubyVM/RubyVM.jar
platform/bb/rhodes/rhodes.jar

# XCode 4 specific files
*.xcworkspace
xcuserdata

Manifest.java

platform/shared/qt/rhodes/GeneratedFiles/*
platform/shared/qt/*/Makefile*
platform/shared/qt/Makefile*
platform/shared/build-RhoSimulator_dev*
lib/commonAPI/*/ext/platform/qt/Makefile*
lib/extensions/*/ext/Makefile*
platform/shared/qtrhodes/generatedfiles/*
platform/wm/rhodes/emulator/generatedfiles/*
platform/shared/RhoSimulator-build*
platform/shared/ruby/ext/rho/extensions.c
platform/linux/bin/*
platform/iphone/project_bakup
platform/win32/RhoSimulatorRunnable
res/build-tools/maven/m2/com/*
spec/phone_spec/rhosimulator/*
*.pro.user.*
platform/shared/qt/rhodes/RhoSimulatorVersion.h
platform/shared/qt/rhodes/resources/Info.plist
platform/wm/tools/Debug/*
platform/wm/tools/Release/*
platform/wm/tools/detool/Debug/*
platform/wm/tools/detool/Release/*
rhosetup.lib

platform/osx/bin/curl/*
platform/osx/bin/extensions/*
platform/osx/bin/rholib/*
platform/osx/bin/rubylib/*
platform/osx/bin/sqlite3/*
platform/osx/bin/syncengine/*
platform/osx/bin/RhoSimulator/generated_files/*
platform/osx/bin/RhoSimulator/tmp/*
platform/build/*.build/*

.qmake.stash
rendered
spec/phone_spec/app/Data/big_test.json

res/build-tools/apache-maven-3.3.9/m2/**/_remote.repositories
res/build-tools/apache-maven-3.3.9/m2/**/*.lastUpdated

obj/
generated/
platform/shared/common/app_build_capabilities.h
platform/shared/common/app_build_configs.c
platform/shared/ruby/ext/rho/extensions.c
platform/shared/qt/**/rhosimulator_plugin_import.cpp

res/build-tools/maven/m2
platform/win32/RhoSimulator/*
platform/shared/qt/rhodes/resources/rho.png

lib/extensions/fcm-push/ext/iphone/Frameworks/*
lib/extensions/fcm-push/ext/iphone/Frameworks/Frameworks.zip

**/com/rho/barcode/EngineChooser.java

**/iphone/Pods
tst/