lib/**/*.o
*~
*.iseq
.DS_Store
rakefile.rb
rhobuild.yml
rhobuild.*.yml
rhodes/*/pkg/
rhodes/rhodes-framework/spec/bin/
platform/mac/**/build/*
platform/iphone/build/*
platform/iphone/rhoextlib/build/*
platform/iphone/shttpd/build/*
platform/iphone/rhorubylib/build/*
platform/iphone/rhosynclib/build/*
platform/iphone/tcmalloc/build/*
platform/iphone/RhoLib/build/*
platform/iphone/Tests/build/*
platform/iphone/bin/*
platform/mac/bin/*
platform/osx/Rhodes Debugger/build/*
platform/iphone/*/*.link
platform/wm/bin/*
platform/win32/bin/*
platform/wm/target/*
platform/wm/build/cleanup.js
platform/iphone/*/rholog.txt
platform/win32/**/*.pch
platform/wm/**/*.pch

spec/bin/*
spec/**/bin/*
spec/**/sim-public

platform/bb/.metadata/*
platform/bb/bin/*
platform/bb/**/bin/*
platform/bb/target/*
platform/bb/build/LogFile.txt
platform/bb/*/.settings
platform/bb/*/.project
platform/bb/*/.classpath
*.err
platform/bb/.BB.jdw/*.files
*.jad
platform/bb/build/rholog.txt
platform/bb/preverified

platform/symbian/.metadata/*
platform/symbian/bin/*
platform/symbian/target/*
platform/symbian/*/.project
abld.bat
ABLD.BAT
#*.sis
#*.sisx
.cproject
#*.hlp
*.hrh
nbproject
rholog.txt
LogFile.txt

platform/android/.metadata/*
platform/android/Rhodes/assets
platform/android/Rhodes/bin
platform/android/Rhodes/libs
platform/android/**/bin
platform/android/bin
platform/android/target
platform/shared/*/bin
platform/android/**/default.properties

#*.jar
*.cod
*.debug
*.rapc
*.log
*.obj
*.old
*.suo
*.user
*.pdb
*.idb
*.lib

*.mode1v3
*.mode2v3
*.pbxuser
*.CAB
*.cab
*.ncb
*.perspectivev3

.gvide
*.gem
Manifest.txt

spec/framework_spec/faillog.txt

lib/extensions/openssl/ext/openssl/**/*.o
lib/extensions/openssl/ext/openssl/**/**/*.o
lib/extensions/openssl/ext/openssl/Makefile
lib/extensions/openssl/ext/openssl/Makefile.bak
lib/extensions/openssl/ext/openssl/apps/CA.pl.bak
lib/extensions/openssl/ext/openssl/apps/openssl
lib/extensions/openssl/ext/openssl/crypto/aes/lib
lib/extensions/openssl/ext/openssl/crypto/asn1/lib
lib/extensions/openssl/ext/openssl/crypto/bf/lib
lib/extensions/openssl/ext/openssl/crypto/bio/lib
lib/extensions/openssl/ext/openssl/crypto/bn/lib
lib/extensions/openssl/ext/openssl/crypto/buffer/lib
lib/extensions/openssl/ext/openssl/crypto/buildinf.h
lib/extensions/openssl/ext/openssl/crypto/cast/lib
lib/extensions/openssl/ext/openssl/crypto/comp/lib
lib/extensions/openssl/ext/openssl/crypto/conf/lib
lib/extensions/openssl/ext/openssl/crypto/des/lib
lib/extensions/openssl/ext/openssl/crypto/dh/lib
lib/extensions/openssl/ext/openssl/crypto/dsa/lib
lib/extensions/openssl/ext/openssl/crypto/dso/lib
lib/extensions/openssl/ext/openssl/crypto/ec/lib
lib/extensions/openssl/ext/openssl/crypto/ecdh/lib
lib/extensions/openssl/ext/openssl/crypto/ecdsa/lib
lib/extensions/openssl/ext/openssl/crypto/engine/lib
lib/extensions/openssl/ext/openssl/crypto/err/lib
lib/extensions/openssl/ext/openssl/crypto/evp/lib
lib/extensions/openssl/ext/openssl/crypto/hmac/lib
lib/extensions/openssl/ext/openssl/crypto/idea/lib
lib/extensions/openssl/ext/openssl/crypto/krb5/lib
lib/extensions/openssl/ext/openssl/crypto/lhash/lib
lib/extensions/openssl/ext/openssl/crypto/lib
lib/extensions/openssl/ext/openssl/crypto/md2/lib
lib/extensions/openssl/ext/openssl/crypto/md4/lib
lib/extensions/openssl/ext/openssl/crypto/md5/lib
lib/extensions/openssl/ext/openssl/crypto/objects/lib
lib/extensions/openssl/ext/openssl/crypto/ocsp/lib
lib/extensions/openssl/ext/openssl/crypto/opensslconf.h.bak
lib/extensions/openssl/ext/openssl/crypto/pem/lib
lib/extensions/openssl/ext/openssl/crypto/pkcs12/lib
lib/extensions/openssl/ext/openssl/crypto/pkcs7/lib
lib/extensions/openssl/ext/openssl/crypto/pqueue/lib
lib/extensions/openssl/ext/openssl/crypto/rand/lib
lib/extensions/openssl/ext/openssl/crypto/rc2/lib
lib/extensions/openssl/ext/openssl/crypto/rc4/lib
lib/extensions/openssl/ext/openssl/crypto/ripemd/lib
lib/extensions/openssl/ext/openssl/crypto/rsa/lib
lib/extensions/openssl/ext/openssl/crypto/sha/lib
lib/extensions/openssl/ext/openssl/crypto/stack/lib
lib/extensions/openssl/ext/openssl/crypto/store/lib
lib/extensions/openssl/ext/openssl/crypto/txt_db/lib
lib/extensions/openssl/ext/openssl/crypto/ui/lib
lib/extensions/openssl/ext/openssl/crypto/x509/lib
lib/extensions/openssl/ext/openssl/crypto/x509v3/lib
lib/extensions/openssl/ext/openssl/engines/lib
lib/extensions/openssl/ext/openssl/libcrypto.a
lib/extensions/openssl/ext/openssl/libcrypto.pc
lib/extensions/openssl/ext/openssl/libssl.a
lib/extensions/openssl/ext/openssl/libssl.pc
lib/extensions/openssl/ext/openssl/openssl.pc
lib/extensions/openssl/ext/openssl/ssl/lib
lib/extensions/openssl/ext/openssl/test/bftest
lib/extensions/openssl/ext/openssl/test/bntest
lib/extensions/openssl/ext/openssl/test/casttest
lib/extensions/openssl/ext/openssl/test/destest
lib/extensions/openssl/ext/openssl/test/dhtest
lib/extensions/openssl/ext/openssl/test/dsatest
lib/extensions/openssl/ext/openssl/test/dummytest
lib/extensions/openssl/ext/openssl/test/ecdhtest
lib/extensions/openssl/ext/openssl/test/ecdsatest
lib/extensions/openssl/ext/openssl/test/ectest
lib/extensions/openssl/ext/openssl/test/enginetest
lib/extensions/openssl/ext/openssl/test/evp_test
lib/extensions/openssl/ext/openssl/test/exptest
lib/extensions/openssl/ext/openssl/test/fips_aesavs
lib/extensions/openssl/ext/openssl/test/fips_desmovs
lib/extensions/openssl/ext/openssl/test/fips_dsatest
lib/extensions/openssl/ext/openssl/test/fips_dssvs
lib/extensions/openssl/ext/openssl/test/fips_hmactest
lib/extensions/openssl/ext/openssl/test/fips_randtest
lib/extensions/openssl/ext/openssl/test/fips_rngvs
lib/extensions/openssl/ext/openssl/test/fips_rsagtest
lib/extensions/openssl/ext/openssl/test/fips_rsastest
lib/extensions/openssl/ext/openssl/test/fips_rsavtest
lib/extensions/openssl/ext/openssl/test/fips_shatest
lib/extensions/openssl/ext/openssl/test/fips_test_suite
lib/extensions/openssl/ext/openssl/test/hmactest
lib/extensions/openssl/ext/openssl/test/ideatest
lib/extensions/openssl/ext/openssl/test/igetest
lib/extensions/openssl/ext/openssl/test/jpaketest
lib/extensions/openssl/ext/openssl/test/md2test
lib/extensions/openssl/ext/openssl/test/md4test
lib/extensions/openssl/ext/openssl/test/md5test
lib/extensions/openssl/ext/openssl/test/mdc2test
lib/extensions/openssl/ext/openssl/test/randtest
lib/extensions/openssl/ext/openssl/test/rc2test
lib/extensions/openssl/ext/openssl/test/rc4test
lib/extensions/openssl/ext/openssl/test/rc5test
lib/extensions/openssl/ext/openssl/test/rmdtest
lib/extensions/openssl/ext/openssl/test/rsa_test
lib/extensions/openssl/ext/openssl/test/sha1test
lib/extensions/openssl/ext/openssl/test/sha256t
lib/extensions/openssl/ext/openssl/test/sha512t
lib/extensions/openssl/ext/openssl/test/shatest
lib/extensions/openssl/ext/openssl/test/ssltest
lib/extensions/openssl/ext/openssl/tools/c_rehash.bak
lib/extensions/openssl/ext/openssl/platform
