.DS_Store
iphone/build/*
iphone/rhorubylib/build/*
iphone/rhosynclib/build/*
wm/bin/*.*
wm/rhodes.ncb
wm/cab/cleanup.js
wm/cab/rhodes.CAB
wm/cab/rhodes.inf
bb/.metadata/*
*.jar
*.cod
*.debug
*.rapc
*.log
*.files
*.obj
*.old
*.suo
*.user
*.pdb
*.idb
*.lib
*.exe
*.pch






