[project]
	description = The Rhodes framework is a platform for building locally executing, device-optimized mobile applications for all major smartphone devices.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vnyvs
[access "refs/for/refs/*"]
	read = group user/vnyvs
	push = group user/vnyvs
	label-Code-Review = -2..+2 group user/vnyvs
	label-Verified = -1..+1 group user/vnyvs
	rebase = group user/vnyvs
	removeReviewer = group user/vnyvs
	submit = group user/vnyvs
[access "refs/heads/*"]
	read = group user/vnyvs
	create = group user/vnyvs
	push = +force group user/vnyvs
	pushMerge = group user/vnyvs
[access "refs/tags/*"]
	push = +force group user/vnyvs
	pushTag = group user/vnyvs
	pushSignedTag = group user/vnyvs
