env:
  app: C:/rhodes-app
  paths:
    java: C:/Program Files/Java/jdk1.6.0_11/bin
    android: C:/android-sdk-windows
    android-ndk: C:/android-ndk-1.6_r1
    cabwiz: C:/Program Files/Windows Mobile 6 SDK/Tools/CabWiz
    4.6:
      jde: C:/Program Files/Research In Motion/BlackBerry JDE 4.6.0
      mds: C:/Program Files/Research In Motion/BlackBerry JDE 4.6.0/MDS
      sim: 9000
    4.2:
      jde: C:/Program Files/Research In Motion/BlackBerry JDE 4.2.0 
      mds: C:/Program Files/Research In Motion/BlackBerry Email and MDS Services Simulators 4.1.2/MDS
      sim: 8100
build:
  bbpath: platform/bb
  wmpath: platform/wm
  androidpath: platform/android
  iphonepath: platform/iphone
  symbianpath: platform/symbian
  bb:
  bbsignpwd: "somepasswordhere"
android:
  # Google API key obtained from http://code.google.com/intl/en/android/add-ons/google-apis/mapkey.html
  #apikey: "GOOGLE-API-KEY-FOR-ANDROID"
  # This is version of Android platform used to run emulator. If not specified, 1.5 will be used.
  #version: 1.5
  # This enable/disable native geo mapping for Android. Disabled by default
  #mapping: yes
  
excludedirs:
  bb:
    - public/js/iui
    - public/js/jquery*
    - public/jqtouch*
    - public/js/prototype*
    - public/css/iphone*
    - public/iwebkit
    - public/themes
    - **/*.db
    - **/.*.swo
    - **/.*.swn
    - **/jquery*.js
    - **/.DS_Store
  

