---
env:
  paths:
    java: C:/Program Files/Java/jdk1.7.0_67/bin
    android: C:/android-sdk-windows
    android-ndk: C:/android-ndk-r16
    cabwiz: C:/Program Files (x86)/Windows Mobile 6 SDK/Tools/CabWiz
    msbuild: C:/Program Files (x86)/MSBuild/14.0/Bin/MSBuild.exe
    vcbuild: C:/Program Files (x86)/Microsoft Visual Studio 9.0/VC/vcpackages/vcbuild.exe
    nsis: C:/Program Files (x86)/NSIS/makensis.exe
    sailfish: C:/SailfishOS
    vbox: C:/Program Files/Oracle/VirtualBox
  app: "/home/hramovnik/tau/kitchensinkRuby"
build:
  wmpath: platform/wm
  wp8path: platform/wp8
  uwppath: platform/uwp
  androidpath: platform/android
  iphonepath: platform/iphone
  win32path: platform/qt
android: 
excludedirs:
  all:
  - "**/.*.swo"
  - "**/.*.swn"
  - "**/.DS_Store"
