<div align="center">
<br/>
Your location:<%= GeoLocation.latitude.abs.to_s + "f° " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
				GeoLocation.longitude.abs.to_s + "f° " + (GeoLocation.longitude < 0 ? "West" : "East") %>
<br/><br/>
Latitude: <%= GeoLocation.latitude.to_s %><br/>
Longitude: <%= GeoLocation.longitude.to_s %>

<br/><br/>
  <a href="#" target="_self">Refresh</a>
  <br/><br/>
  <a href="/" target="_self">Home</a>
</div>