<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>System</title>
		<% if System::get_property('platform') == 'APPLE' %>
			<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<% end %>		
	</head>
	<body>
	<%= @content %>
	</body>
</html>

