<ul id="SugarCampaigns" title="Campaigns">
<%@SugarCampaigns.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New SugarCampaign", :action => :new%></font></li>
</ul>