<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Campaigns
</div>
<% end %>

<ul id="SugarCampaigns" title="Campaigns">
<a class="button right_button" href="/RhoSugarCRM/SugarCampaign/new">New</a>
	
<%@SugarCampaigns.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
</ul>