<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  New Campaign
</div>
<% end %>

<form title="New SugarCampaign" 
	  class="panel"
	  id="SugarCampaign_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarCampaign.object%>"/>
		
		  <div class="row">
			  <label>name: </label>
			  <input type="text" name="SugarCampaign[name]"/>
		  </div>
		
		  <div class="row">
			  <label>date_entered: </label>
			  <input type="text" name="SugarCampaign[date_entered]"/>
		  </div>
		
		  <div class="row">
			  <label>date_modified: </label>
			  <input type="text" name="SugarCampaign[date_modified]"/>
		  </div>
		
		  <div class="row">
			  <label>assigned_user_name: </label>
			  <input type="text" name="SugarCampaign[assigned_user_name]"/>
		  </div>
		
		  <div class="row">
			  <label>team_name: </label>
			  <input type="text" name="SugarCampaign[team_name]"/>
		  </div>
		
		  <div class="row">
			  <label>start_date: </label>
			  <input type="text" name="SugarCampaign[start_date]"/>
		  </div>
		
		  <div class="row">
			  <label>end_date: </label>
			  <input type="text" name="SugarCampaign[end_date]"/>
		  </div>
		
		  <div class="row">
			  <label>status: </label>
			  <input type="text" name="SugarCampaign[status]"/>
		  </div>
		
		  <div class="row">
			  <label>budget: </label>
			  <input type="text" name="SugarCampaign[budget]"/>
		  </div>
		
		  <div class="row">
			  <label>expected_revenue: </label>
			  <input type="text" name="SugarCampaign[expected_revenue]"/>
		  </div>
		
		  <div class="row">
			  <label>campaign_type: </label>
			  <input type="text" name="SugarCampaign[campaign_type]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>