<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Cases</title>
</head>
<body>
<table>
<%@cases.each do |x|%>
<tr>
  <td><%=x.case_number%></td>
  <td><%=x.assigned_to%></td>
  <td><%=link_to "X","delete"%></td>
</tr>
<%end%>
</table>
</body>
</html>
