<html>
	<head>
		<title>Edit Conact</title>
		<meta name="viewport" content="width=320"/>
	</head>
	<body>
	
	<form action="<%= url_for(:update,@params['id'])%>" method="post">
		First name: 
		<input type="text" name="contact[fname]" value="John" />
		<br/>
		Last name: 
		<input type="text" name="contact[lname]" value="Smith" />
		<br/>
		<input type="submit" value="Submit" />
	</form> 

	<p>Click "Submit" button to update contact.</p>
	<p>Params: <%= @params%></p>
	<p>Url for update: <%= url_for(:update,@params['id'])%></p>
	</body>
</html>	