<html>
	<head>
		<title>New Conact</title>
		<meta name="viewport" content="width=320"/>
	</head>
	<body>
	
	<form action="<%= url_for(:create)%>" method="post">
		First name: 
		<input type="text" name="contact[fname]" value="John" />
		<br/>
		Last name: 
		<input type="text" name="contact[lname]" value="Smith" />
		<br/>
		<input type="submit" value="Submit" />
	</form> 

	<p>Click "Submit" button to create new contact.</p>
	<p>Params: <%= @params%></p>
	<p>Url for create: <%= url_for(:create)%></p>
	</body>
</html>	