<ul id="SugarEmployees" title="Employees">
<%@SugarEmployees.each do |x|%>

<li><%=link_to "#{x.first_name} #{x.last_name}", :action => :show, :id => x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New Employee", :action => :new%></font></li>
</ul>