<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Employees
</div>
<% end %>

<ul id="SugarEmployees" title="Employees">
<a class="button right_button" href="/RhoSugarCRM/SugarEmployee/new">New</a>
	
<% @SugarEmployees.each do |x| %>
<li><%=link_to "#{x.first_name} #{x.last_name}", :action => :show, :id => x.object%></li>
<% end %>

</ul>