<ul id="SugarEmployees" title="SugarEmployees">
<%@SugarEmployees.each do |x|%>

<li><%=link_to "#{x.user_name}", "edit", x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New Employee", "new"%></font></li>
</ul>