<div class="toolbar">
	<h1 id="pageTitle">
		Employee
	</h1>
</div>

<div selected="true">
<%= link_to "#{@SugarEmployee.first_name} #{@SugarEmployee.last_name}", :action => :edit, :id => @SugarEmployee.object %>
</div>
