<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Creating Account</title>
<meta name="viewport" content="width=320"/>
</head>
<body>
<form method="POST" action="<%=url_for('create') %>">
Name <input name="account[name]" value="<%=@account.name.length > 0 ? @account.name : ""%>"/><br/>
Industry <select name="account[industry]">
<%@industries.each do |i|%>
<option value=<%=i%>>
<%=i%>
</option>
<%end%>
</select>
<br/>
<input type="submit" value="Create Account"/>
</form>
</body>
</html>
