<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bremen</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon72.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon144</string>
		<string>icon72</string>
		<string>icon114</string>
		<string>icon57</string>
		<string>icon120</string>
		<string>icon60</string>
		<string>icon76</string>
		<string>icon152</string>
		<string>icon180</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>icon152</string>
		<string>icon76</string>
		<string>icon144</string>
		<string>icon72</string>
		<string>icon120</string>
		<string>icon57</string>
		<string>icon114</string>
		<string>icon180</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.test.bremen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.test.bremen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bremen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImages</key>
	<array>
    		<dict>
        		<key>UILaunchImageMinimumOSVersion</key>
        		<string>8.0</string>
        		<key>UILaunchImageName</key>
        		<string>Default-568h</string>
        		<key>UILaunchImageOrientation</key>
        		<string>Portrait</string>
        		<key>UILaunchImageSize</key>
        		<string>{320, 568}</string>
    		</dict>
    		<dict>
        		<key>UILaunchImageMinimumOSVersion</key>
        		<string>8.0</string>
        		<key>UILaunchImageName</key>
        		<string>Default-667h</string>
        		<key>UILaunchImageOrientation</key>
        		<string>Portrait</string>
        		<key>UILaunchImageSize</key>
        		<string>{375, 667}</string>
    		</dict>
    		<dict>
        		<key>UILaunchImageMinimumOSVersion</key>
        		<string>8.0</string>
        		<key>UILaunchImageName</key>
        		<string>Default-736h</string>
        		<key>UILaunchImageOrientation</key>
        		<string>Portrait</string>
        		<key>UILaunchImageSize</key>
        		<string>{414, 736}</string>
    		</dict>
	</array>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>application tracks your position</string>
	<key>NSCameraUsageDescription</key>
    	<string>application wants to use camera</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
 		<string>application wants to use Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
    	<string>application wants to use Calendar</string>
	<key>NSContactsUsageDescription</key>
		<string>application wants to use Contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
		<string>application tracks your position</string>
	<key>NSMicrophoneUsageDescription</key>
		<string>application wants to use Microphone</string>
	<key>NSMotionUsageDescription</key>
		<string>application wants to use Accelerometer</string>
	<key>NSPhotoLibraryUsageDescription</key>
		<string>application wants to use Photo Library</string>
	<key>NSRemindersUsageDescription</key>
		<string>application wants to use Reminders</string>
	<key>NSAppTransportSecurity</key>
     <dict>
          <key>NSAllowsArbitraryLoads</key>
		  <true/>
     </dict>
     <key>UIRequiresFullScreen</key>
     <true/>
     <key>UIRequiredDeviceCapabilities</key>
     <array>
          <string>gamekit</string>
     </array>
</dict>
</plist>
