<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bremen</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.test.bremen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.test.bremen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bremen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>application tracks your position</string>
	<key>NSCameraUsageDescription</key>
    	<string>application wants to use camera</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
 		<string>application wants to use Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
    	<string>application wants to use Calendar</string>
	<key>NSContactsUsageDescription</key>
		<string>application wants to use Contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
		<string>application tracks your position</string>
	<key>NSMicrophoneUsageDescription</key>
		<string>application wants to use Microphone</string>
	<key>NSMotionUsageDescription</key>
		<string>application wants to use Accelerometer</string>
	<key>NSPhotoLibraryUsageDescription</key>
		<string>application wants to use Photo Library</string>
	<key>NSRemindersUsageDescription</key>
		<string>application wants to use Reminders</string>
     <key>UIRequiresFullScreen</key>
     <true/>
     <key>UIRequiredDeviceCapabilities</key>
     <array>
          <string>gamekit</string>
     </array>
	 <key>CFBundleAllowMixedLocalizations</key>
	 <true/>
</dict>
</plist>
