<div class="toolbar">
	<h1 id="pageTitle">
		Benchmark
	</h1>
</div>

<li><a href="/app/Benchmark/search_test">Search test...</a></li>
<li><a href="/app/Benchmark/create_test">Create test...</a></li>
<li><a href="/app/Benchmark/bulk_test">Bulk test...</a></li>