<div class="toolbar">
	<h1 id="pageTitle">
		Benchmark
	</h1>
</div>

<%@color = "#00ff00"%>

<ul id="perftest" title="PerfomanceTests" selected="true">
		<li style="color:<%=@color%>">Controller Time (ms): <%=@time%></li>
</ul>

<li><a href="/app/Product">Show products...</a></li>