<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading" selected="false">
  Accounts
</div>
<% end %>

<ul id="SugarAccounts" title="Accounts">
  <a class="button right_button" href="/RhoSugarCRM/SugarAccount/new">New</a>
	  
<% @SugarAccounts.each do |x| %>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarAccount/#{x.object}/show" %>">
		<%= x.name %>
		<div>
		<%= x.billing_address_city %> | <%= x.phone_office %>
		</div>
	</a>
</li>

<% end %>
</ul>