<div class="toolbar">
	<h1 id="pageTitle">
		RhoSugarCRM
	</h1>
</div>

<ul id="home" title="RhoSugar" selected="true">

	<% if SyncEngine::logged_in > 0 %>		

		<% if System::get_property('platform') == 'APPLE' %>
		  <!-- disabled for now
		    <li><a href="Dashboard" target="_self"><img class="menu_icon" src="images/arrowicon.png" alt="dashboard"/>Dashboard</a></li>
      -->
		  <li><a href="SugarOpportunity" target="_self"><img class="menu_icon" src="images/graphsicon.png"/>Opportunities</a></li>
		  <li><a href="SugarLead" target="_self"><img class="menu_icon" src="images/boardicon.png"/>Leads</a></li>
		  <li><a href="SugarContact" target="_self"><img class="menu_icon" src="images/peopleicon.png"/>Contacts</a></li>	
		  <li><a href="SugarAccount" target="_self"><img class="menu_icon" src="images/buildingicon.png"/>Accounts</a></li>
		  <li><a href="SugarQuote" target="_self"><img class="menu_icon" src="images/calcicon.png"/>Quotes</a></li>		
		  <li><a href="/RhoSugarCRM/Mapping/showmypos" target="_self"><img class="menu_icon" src="images/arrowicon.png" alt="mapping"/>GPS Map</a></li>
    <% else %>
			  <!-- disabled for now
	      <li><table><tr>
	          <td><img src="images/arrowicon.png" alt="dashboard"/></td>
	          <td><a href="Dashboard" target="_self">Dashboard</a></td>
	     </tr></table></li>
	      -->	
		  <li><table><tr>
	      <td><img src="images/graphsicon.png"/></td>
	      <td><a href="SugarOpportunity">Opportunities</a></td>
	    </tr></table></li>
	    <li><table><tr>
				<td><img src="images/boardicon.png"/></td>
				<td><a href="SugarLead">Leads</a></td>
	    </tr></table></li>
	    <li><table><tr>
				<td><img src="images/peopleicon.png"/></td>
				<td><a href="SugarContact">Contacts</a></td>
	    </tr></table></li>
	    <li><table><tr>
				<td><img src="images/buildingicon.png"/></td>
				<td><a href="SugarAccount">Accounts</a></td>
			</tr></table></li>
	    <li><table><tr>
				<td><img class="menu_icon" src="images/calcicon.png"/></td>
				<td><a href="SugarQuote">Quotes</a></td>
			</tr></table></li>
						
			<% if System::get_property('platform') != 'Blackberry' %>
      <li><table><tr>
        <td><img src="images/arrowicon.png" alt="mapping"/></td>
        <td><a href="/RhoSugarCRM/Mapping/showmypos" target="_self">GPS Map</a></td>
     </tr></table></li>		
     <% end %>

	  <% end %>	
	  <li><a href="Pages" target="_self">More...</a></li>
		<li><a href="Settings/logout" target="_self">Logout</a></li>
	<% else %>
		<li><a href="Settings/login" target="_self">Login</a></li>
	 <% end %>
</ul>
