<div class="panel">
	
	<form id="search_form" method="POST" action="<%=url_for(:action => :create)%>">
		<fieldset>		
			  <div class="row">
				  <label>Search:</label>
				  <input type="text" name="search"/>
			  </div>
		</fieldset>
		<input type="submit" value="Go!"/>		
	</form>
	
	<ul>
	<li><%=link_to "Last article", :action => :show %></li>
	</ul>
	
	<iframe src="/Wikipedia/WikipediaPage/show" width="100%" height="100%" style="margin:0;padding;"></iframe>
</div>