<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhomobile.rhodes"
    android:installLocation="auto"
    android:versionCode="29"
    android:versionName="2.3.3">

  <application>
    <activity android:name="com.motorolasolutions.rho.notification.PopupActivity"
            android:theme="@style/PopupTheme"
            android:screenOrientation="unspecified"
            android:configChanges="orientation"/>
  </application>
  <uses-permission android:name="android.permission.VIBRATE"/>
</manifest> 

