<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Contacts
</div>
<% end %>

<ul id="SugarContacts" title="Contacts">
<a class="button right_button" href="/RhoSugarCRM/SugarContact/new">New</a>
	
<% @SugarContacts.each do |contact| %>

<li class="overview">
<%= link_to "#{contact.first_name} #{contact.last_name}", :action => :show, :id => contact.object %>
<div>
<%= contact.account_name %> | <%= contact.phone_work %>
</div>
</li>

<% end %>
</ul>