<ul id="SugarContacts" title="Contacts">
<%@SugarContacts.each do |x|%>

<li><%=link_to "#{x.first_name} #{x.last_name}", "edit", x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New Contact", "new"%></font></li>
</ul>