<form title="New SugarContact" 
	  class="panel"
	  id="SugarContact_new_form" 
	  method="POST" 
	  action="<%=url_for('create')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarContact.object%>"/>
		
		  <div class="row">
			  <label>date_modified: </label>
			  <input type="text" name="SugarContact[date_modified]"/>
		  </div>
		
		  <div class="row">
			  <label>description: </label>
			  <input type="text" name="SugarContact[description]"/>
		  </div>
		
		  <div class="row">
			  <label>created_by_name: </label>
			  <input type="text" name="SugarContact[created_by_name]"/>
		  </div>
		
		  <div class="row">
			  <label>assigned_user_name: </label>
			  <input type="text" name="SugarContact[assigned_user_name]"/>
		  </div>
		
		  <div class="row">
			  <label>salutation: </label>
			  <input type="text" name="SugarContact[salutation]"/>
		  </div>
		
		  <div class="row">
			  <label>first_name: </label>
			  <input type="text" name="SugarContact[first_name]"/>
		  </div>
		
		  <div class="row">
			  <label>last_name: </label>
			  <input type="text" name="SugarContact[last_name]"/>
		  </div>
		
		  <div class="row">
			  <label>title: </label>
			  <input type="text" name="SugarContact[title]"/>
		  </div>
		
		  <div class="row">
			  <label>department: </label>
			  <input type="text" name="SugarContact[department]"/>
		  </div>
		
		  <div class="row">
			  <label>do_not_call: </label>
			  <input type="text" name="SugarContact[do_not_call]"/>
		  </div>
		
		  <div class="row">
			  <label>phone_home: </label>
			  <input type="text" name="SugarContact[phone_home]"/>
		  </div>
		
		  <div class="row">
			  <label>phone_mobile: </label>
			  <input type="text" name="SugarContact[phone_mobile]"/>
		  </div>
		
		  <div class="row">
			  <label>phone_work: </label>
			  <input type="text" name="SugarContact[phone_work]"/>
		  </div>
		
		  <div class="row">
			  <label>phone_other: </label>
			  <input type="text" name="SugarContact[phone_other]"/>
		  </div>
		
		  <div class="row">
			  <label>phone_fax: </label>
			  <input type="text" name="SugarContact[phone_fax]"/>
		  </div>
		
		  <div class="row">
			  <label>email1: </label>
			  <input type="text" name="SugarContact[email1]"/>
		  </div>
		
		  <div class="row">
			  <label>email2: </label>
			  <input type="text" name="SugarContact[email2]"/>
		  </div>
		
		  <div class="row">
			  <label>primary_address_street: </label>
			  <input type="text" name="SugarContact[primary_address_street]"/>
		  </div>
		
		  <div class="row">
			  <label>primary_address_city: </label>
			  <input type="text" name="SugarContact[primary_address_city]"/>
		  </div>
		
		  <div class="row">
			  <label>primary_address_state: </label>
			  <input type="text" name="SugarContact[primary_address_state]"/>
		  </div>
		
		  <div class="row">
			  <label>primary_address_postalcode: </label>
			  <input type="text" name="SugarContact[primary_address_postalcode]"/>
		  </div>
		
		  <div class="row">
			  <label>primary_address_country: </label>
			  <input type="text" name="SugarContact[primary_address_country]"/>
		  </div>
		
		  <div class="row">
			  <label>alt_address_street: </label>
			  <input type="text" name="SugarContact[alt_address_street]"/>
		  </div>
		
		  <div class="row">
			  <label>alt_address_city: </label>
			  <input type="text" name="SugarContact[alt_address_city]"/>
		  </div>
		
		  <div class="row">
			  <label>alt_address_state: </label>
			  <input type="text" name="SugarContact[alt_address_state]"/>
		  </div>
		
		  <div class="row">
			  <label>alt_address_postalcode: </label>
			  <input type="text" name="SugarContact[alt_address_postalcode]"/>
		  </div>
		
		  <div class="row">
			  <label>alt_address_country: </label>
			  <input type="text" name="SugarContact[alt_address_country]"/>
		  </div>
		
		  <div class="row">
			  <label>assistant: </label>
			  <input type="text" name="SugarContact[assistant]"/>
		  </div>
		
		  <div class="row">
			  <label>assistant_phone: </label>
			  <input type="text" name="SugarContact[assistant_phone]"/>
		  </div>
		
		  <div class="row">
			  <label>lead_source: </label>
			  <input type="text" name="SugarContact[lead_source]"/>
		  </div>
		
		  <div class="row">
			  <label>account_name: </label>
			  <input type="text" name="SugarContact[account_name]"/>
		  </div>
		
		  <div class="row">
			  <label>report_to_name: </label>
			  <input type="text" name="SugarContact[report_to_name]"/>
		  </div>
		
		  <div class="row">
			  <label>birthdate: </label>
			  <input type="text" name="SugarContact[birthdate]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>