<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rhomobile.rhodes"
      android:versionCode="25"
      android:versionName="2.2.4">
    <uses-sdk android:minSdkVersion="3" />
    <application android:icon="@drawable/icon"
          android:multiprocess="true"
          android:allowTaskReparenting="true"
          android:debuggable="true"
          finishOnTaskLaunch="true"
          android:label="@string/app_name">
        <activity android:name="com.rhomobile.rhodes.Rhodes"
              android:label="@string/app_name"
              android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rhomobile.rhodes.camera.FileList" />
        <activity android:name="com.rhomobile.rhodes.camera.ImageCapture" android:screenOrientation="landscape" />
        <activity android:name="com.rhomobile.rhodes.signature.ImageCapture" />
        <activity android:name="com.rhomobile.rhodes.datetime.DateTimePickerScreen" />
        <activity android:name="com.rhomobile.rhodes.mapview.MapView" />
        <activity android:name="com.rhomobile.rhodes.bluetooth.RhoBluetoothDeviceListActivity" />
        <uses-library android:name="com.google.android.maps" />
        <receiver android:name="com.rhomobile.rhodes.PushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
          <!-- Receive the actual message -->
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <category android:name="com.rhomobile.rhodes" />
          </intent-filter>
          <!-- Receive the registration id -->
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            <category android:name="com.rhomobile.rhodes" />
          </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <permission android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
</manifest> 
