<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhomobile.rhodes"
    android:installLocation="auto"
    android:versionCode="29"
    android:versionName="2.3.1">
    
    <uses-sdk android:minSdkVersion="4" />
    
    <application
        android:name="com.rhomobile.rhodes.RhodesApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true">
        
        <!-- Main activity -->
        <activity
            android:name="com.rhomobile.rhodes.RhodesActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.rhomobile.rhodes.alert.PopupActivity"
            android:theme="@style/PopupTheme" />
        
        <activity
            android:name="com.rhomobile.rhodes.camera.FileList" />
        
        <activity
            android:name="com.rhomobile.rhodes.camera.ImageCapture"
            android:screenOrientation="landscape" />
        
        <activity
            android:name="com.rhomobile.rhodes.signature.ImageCapture" />
        
        <activity
            android:name="com.rhomobile.rhodes.datetime.DateTimePickerScreen" />
        
        <activity
            android:name="com.rhomobile.rhodes.mapview.MapView" />
        
        <activity
            android:name="com.rhomobile.rhodes.mapview.GoogleMapView" />
        
        <activity
            android:name="com.rhomobile.rhodes.bluetooth.RhoBluetoothDeviceListActivity" />
        
        <receiver
            android:name="com.rhomobile.rhodes.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.rhomobile.rhodes" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.rhomobile.rhodes" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="com.rhomobile.rhodes.RhodesService" />
        
        <uses-library android:name="com.google.android.maps" />
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
</manifest> 
