<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575812169629-n939ig63f5rmksrcuoa4ouhppcvp0n70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575812169629-n939ig63f5rmksrcuoa4ouhppcvp0n70</string>
	<key>API_KEY</key>
	<string>AIzaSyDR1jrNKex36yyb1kbMxbZhM0Q9PQ70hGY</string>
	<key>GCM_SENDER_ID</key>
	<string>575812169629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tau.push.fcmtest</string>
	<key>PROJECT_ID</key>
	<string>ios-fcm-54f96</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-fcm-54f96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:575812169629:ios:7e8b292befba4cd1</string>
	<key>DATABASE_URL</key>
	<string>https://ios-fcm-54f96.firebaseio.com</string>
</dict>
</plist>
