<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rhodes</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon72.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon144</string>
		<string>icon72</string>
		<string>icon114</string>
		<string>icon57</string>
		<string>icon120</string>
		<string>icon60</string>
		<string>icon76</string>
		<string>icon152</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>icon152</string>
		<string>icon76</string>
		<string>icon144</string>
		<string>icon72</string>
		<string>icon120</string>
		<string>icon57</string>
		<string>icon</string>
		<string>icon57.png</string>
		<string>icon72.png</string>
		<string>icon114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.rhomobile.rhosyncclient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.rhomobile.rhosyncclient</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rhodes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.3.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>application tracks your position</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
