<ul id="accounts" title="Accounts">
<%@accounts.each do |x|%>
<li><%=link_to "#{x.name} - #{x.industry}", "edit", x.object%></li>
<%end%>
<li><font color="blue"><%=link_to "New Account", "new"%></font></li>
</ul>