<form title="New Account" 
	  class="panel"
	  id="account_new_form" 
	  method="POST" 
	  action="<%=url_for('create')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@account.object%>"/>
		<div class="row">
			<label>Name: </label>
			<input type="text" name="account[name]" value=""/>
		</div>
		<div class="row">
			<label>Industry: </label>
			<select name="account[industry]">
				<%@industries.each do |i|%>
					<option value=<%=i%>>
					<%=i%>
					</option>
				<%end%>
			</select>
		</div>
	</fieldset>
	<input type="submit" value="Create"/>
</form>