<script language="JavaScript">

window.location = '/app/Spec';

if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		Phone Test
	</h1>
</div>
<!--
<ul id="home" selected="true" title="Phone Specs">
	<li><a href="Spec">Run Phone Specs!</a></li>
</ul> -->
