<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Reset Database</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
    <a href="<%= url_for :action => :do_reset %>" class="ui-btn-right" data-icon="check" data-direction="reverse">Confirm</a>
  </div>

  <div data-role="content">
    <h3>Are you sure?</h3>
    <div style="margin: 10px;">Resetting removes all objects from your device.</div>
  </div>

</div>
