<div class="toolbar">
	<h1 id="pageTitle">
		<script language="JavaScript">
			document.write(document.title)
		</script>
	</h1>
	<a id="backButton" class="button" href="./"></a>
</div>

<div class="generic_heading" selected="false">
  RhoSugarCRM
</div>

<ul id="home" selected="true" title="RhoSugarCRM">
	<% if SyncEngine::logged_in > 0 %>		

		<% if System::get_property('platform') == 'APPLE' %>
	    <li><a href="Dashboard" target="_self"><img class="menu_icon" src="images/arrowicon.png" alt="dashboard"/>Dashboard</a></li>
		  <li><a href="SugarOpportunity"><img class="menu_icon" src="images/graphsicon.png"/>Opportunities</a></li>
		  <li><a href="SugarLead"><img class="menu_icon" src="images/boardicon.png"/>Leads</a></li>
		  <li><a href="SugarContact"><img class="menu_icon" src="images/peopleicon.png"/>Contacts</a></li>	
		  <li><a href="SugarAccount"><img class="menu_icon" src="images/buildingicon.png"/>Accounts</a></li>
    <% else %>
	    <li>
	      <table>
	        <tr>
	          <td>
	            <img src="images/arrowicon.png" alt="dashboard"/>
	          </td>
	          <td>
	            <a href="Dashboard" target="_self">Dashboard</a>
	          </td>
	        </tr>
	      </table>
	    </li>
		  <li>
	      <table>
	        <tr>
	          <td>
	            <img src="images/graphsicon.png"/>
	          </td>
	          <td>
	            <a href="SugarOpportunity">Opportunities</a>
	          </td>
	        </tr>
	      </table>
	    </li>
	    <li>
	      <table>
	        <tr>
	          <td>
	            <img src="images/boardicon.png"/>
	          </td>
	          <td>
	            <a href="SugarLead">Leads</a>
	          </td>
	        </tr>
	      </table>
	    </li>
	    <li>
	      <table>
	        <tr>
	          <td>
	            <img src="images/peopleicon.png"/>
	          </td>
	          <td>
	            <a href="SugarContact">Contacts</a>
	          </td>
	        </tr>
	      </table>
	    </li>
	    <li>
	      <table>
	        <tr>
	          <td>
	            <img src="images/buildingicon.png"/>
	          </td>
	          <td>
	            <a href="SugarAccount">Accounts</a>
	          </td>
	        </tr>
	      </table>
	    </li>    
	  <% end %>	
	  <li><a href="Pages">More...</a></li>
		<li><a href="/Settings/User/logout" target="_self">Logout</a></li>	
	<% else %>
		<li><a href="/Settings/User/login" target="_self">Login</a></li>
	 <% end %>
</ul>
