<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>RhoSugarCRM</title>
		<% if System::get_property('platform') == 'APPLE' %>
			<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
			<style type="text/css" media="screen">@import "/shared/js/iui/iui.css"; @import "/shared/css/rho.css";</style>
			<script type="application/x-javascript" src="/shared/js/iui/iui.js"></script>
			<script src="/shared/js/jquery-1.2.6.min.js"></script>
			<script src="/shared/js/rho.js"></script>
			<script src="/RhoSugarCRM/js/application.js"></script> 
      <LINK href="/RhoSugarCRM/css/iphone.css" type="text/css" rel="stylesheet"/>
		<% else %>	
      <LINK href="/RhoSugarCRM/css/xhtml.css" type="text/css" rel="stylesheet"/>			
		<% end %>	

		<!--
		<style type="text/css" media="screen">
		 @import "/RhoSugarCRM/css/application.css";
		</style>  -->
		
	</head>
	<body>
		<%= @content %>
	</body>
</html>