/* Common css */
html,body {
    margin: 0;
    height: 100%;
    font-family: "Droid Serif",sans-serif;
    background: black;
    color: white;
}

h1 {
    font-size: 1em;
}

div#content {
    margin-bottom: 55px;
}


/* Toolbar */

#toolbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #a5a6a5),color-stop(0.5, #949294), color-stop(1.0, #848284));}

div#toolbar div {
}

div#toolbar div#leftItem, div#toolbar div#centerItem, div#toolbar div#rightItem {
    display: table-cell;
}

div#toolbar a {
    line-height: 40px;
    text-decoration:none;
    color: black;
    display: block;
}

div#row .deleteButton, .regularButton, .blueButton, .backButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, white),color-stop(0.5, #ccc), color-stop(1.0, #bdbebd));
    -webkit-border-radius: 5px;
    -webkit-box-shadow:3px 3px 3px #888;
    font-size: .9em;
    border: 1px solid white;
}

div#row {
    display: table;
    width: 100%;
    text-align: center;
    height: 40px;
    border-spacing: 10px;
}


/* Header */

div#pageTitle {
    height: 25px;
}

div#pageTitle h1 {
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 5px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    line-height: 25px;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #999),color-stop(0.5, #848284));
}

/* lists */

div#content .list {
    border-top: 1px solid #848284;
}

div#content .list ul {
    padding: 0;
    margin: 0;
}

div#content .list li {
    width: 100%;
    height: 54px;
    list-style-type: none;
    border-bottom: 1px solid #848284;
}

div#content .list a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

div#content ul.simple_list li a {

}

div#content ul.simple_list li a span.title {
    margin-left: 30px;
    font-weight: bold;
    float: left;
    width:auto;
    line-height: 54px;
}

div#content div.list ul.simple_list li a span.discloser_indicator {
    float: right;
    margin: 0px 10px 0px 0px;
    height: 16px;
    width: 10px;
    background: url(/public/images/listArrow.png) no-repeat;
    position: relative;
    top: 35%;
}

div#content ul.simple_list li a img {
    float: left;
    height: 100%;
    max-width: 100px;
}

/* Forms */

div#content form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

div#content form button {
    -webkit-appearance:push-button;
    width: 300px;
    height: 40px;
    margin-left: 10px;
}

div#content .form_list ul {
    display: block;
    font-size: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 17px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

div#content .form_list li:first-child {
    border-bottom: 1px solid white;
}

div#content .form_list li {
    border-bottom: 1px solid white;
    display: block;
    height: auto;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

div#content .form_list span.label {
    float: left;
    display:block;
    color: black;
    line-height: 30px;
    padding: 5px 10px 5px 5px;
    margin: 10px 20px 10px 10px;
    width: 100px;
    border: 1px solid white;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fbfbfb),color-stop(0.5, #fffeff),color-stop(1.0, #f1ecf1));
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}

div#content .form_list input.checkbox {
    -webkit-appearance:checkbox;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

div#content .form_list input.radioButton {
    -webkit-appearance:radio;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

div#content .form_list select {
    width: 100px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    -webkit-appearance:menulist;
}


div#content .form_list textarea {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#content .form_list input.textInput {
    float: right;
    height: 40px;
    margin: 10px 10px 10px 0;
    padding-left: 3px;
    font-size:medium;
    width: 150px;
    -webkit-appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #a5a9ac),color-stop(0.5, #dcdedd),color-stop(1.0, #dae6f0));
    border: none;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

div#content .form_list span.gridItem {
    float: right;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: left;
    width: 145px;
}

div#content form button.updateButton {
    height: 45px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}