a {
    text-decoration: none;
}

.content {
    width: inherit;
    height: 100%;
}

.toolbar .noButton {
    display: none;
}

.content ul {
    -webkit-padding-start: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content ul li {
    overflow: hidden;
    clear: both;
}

.content ul li span {
    display: block;
}

.content ul.settings li div.itemLabel span.title {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    width: inherit;
    font-family: "Droid", sans-serif;
    background: black;
    color: white;
}

h1 {
    font-size: 1em;
}

.content {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Toolbar */

.toolbar {
    height: 60px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #2B2B2B), color-stop(0.2, #585858), color-stop(1.0, #2B2B2B));
    display: table;
    text-align: center;
    border-spacing: 10px;
}

.toolbar .leftItem,
.toolbar .centerItem,
.toolbar .rightItem {
    display: table-cell;
}

.toolbar a {
    line-height: 40px;
    color: black;
    display: block;
}

.toolbar .deleteButton,
.toolbar .regularButton,
.toolbar .blueButton,
.toolbar .backButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, white), color-stop(0.5, #ccc), color-stop(1.0, #bdbebd));
    -webkit-border-radius: 5px;
    font-size: .9em;
    border: 1px solid white;
}

/* Header */

.pageTitle {
    height: 25px;
    margin: 0;
    width: 100%;
    display: none;
}

.pageTitle h1 {
    position: absolute;
    top: 0;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 5px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    line-height: 25px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #999), color-stop(0.5, #848684));
}

/* lists */

.content ul {
    background: black;
}

.content ul li {
    border-bottom: 1px solid #666;
    font-size: 20px;
}

.content ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding: 15px 0 15px 0;
    background: url("../images/android/disclosure.png") no-repeat center right;
}

.content ul li a:hover {
    background-color: #3399cc;
}

.content ul li a img {
    float: left;
    height: 100%;
    max-width: 100px;
}

.content ul li span.title {
    padding: 0 50px 0 10px;
}

.content ul li span.disclosure_indicator {
    display: none;
}

.content ul li div.itemLabel {
    float: left;
    width: 45%;
    padding: 15px 0 15px 10px;
}

.content ul li div.itemValue {
    float: right;
    width: 45%;
    padding: 15px 10px 15px 0;
}

/* Forms */

.content form button {
    -webkit-appearance: push-button;
    width: 300px;
    height: 40px;
    margin-left: 10px;
}

.content form ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content form ul li {
    border-bottom: 1px solid #666;
    display: block;
    list-style-type: none;
}

.content form label {
    float: left;
    display: block;
    color: white;
    line-height: 64px;
    padding: 0 10px 0 5px;
    margin: 0;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content h2 {
    margin: 0;
}

.content h2.groupTitle {
    width: inherit;
    margin: 0;
    padding: 8px 0 8px 8px;
    font-size: 10px;
    color: white;
    background-color: #666;
}

.content form {
    background-color: black;
}

.content form input[type="checkbox"] {
    -webkit-appearance: none;
    background: url(/public/images/android/btn_check_off.png) no-repeat;
    float: right;
    height: 31px;
    width: 31px;
    margin-top: 15px;
    margin-right: 20px;
}

.content form input[type="checkbox"]:checked {
    background: url(/public/images/android/btn_check_on.png) no-repeat;
    float: right;
    height: 31px;
    width: 31px;
    margin-top: 15px;
    margin-right: 20px;
}

.content form input[type="radio"] {
    background: url(/public/images/android/btn_radio_off.png) no-repeat;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    border: none;
    height: 32px;
    margin: 0px;
    width: 32px;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.content form input[type="radio"]:checked {
    background: url(/public/images/android/btn_radio_on.png) no-repeat;
    margin-top: 15px;
    margin-right: 20px;
}

.content form select {
    -webkit-appearance: none;
    border: 0px;
    width: 100%;
    padding-left: 20px;
    height: 60px;
    color: white;
    background: url('/public/images/android/ic_menu_more.png') no-repeat center right;
}

.content form textarea {
    -webkit-appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0125, #d6d7d6), color-stop(0.25, #efefef), color-stop(0.95, #f7f7f7), color-stop(1.0, #f7f3f7));
    border: 1px solid #d6d7d6;
    -webkit-border-radius: 4px;
    margin: 10px 0 2px 10px;
    font-size: 0.9em;
    padding: 5px 0 2px 2px;
    box-shadow: 0 -1px 3px #000000;
}

.content form input[type="text"],
.content form input[type="number"],
.content form input[type="password"] {
    float: right;
    height: 40px;
    margin: 10px 10px 10px 0;
    padding-left: 5px;
    font-size: 26px;
    width: 150px;
    -webkit-appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0125, #d6d7d6), color-stop(0.25, #efefef), color-stop(0.95, #f7f7f7), color-stop(1.0, #f7f3f7));
    border: 1px solid #d6d7d6;
    -webkit-border-radius: 4px;
    box-shadow: 0 -1px 3px #000000;
}

.content form input.standardButton {
    height: 45px;
    margin: 2px 0 2px 0;
    -webkit-border: 2px;
    width: 100%;
}

/* Settings */

.content ul.settings {
    padding: 0;
    margin: 0;
}

.content .reset h4 {
    margin: 20px;
    color: white;
}

.content div.standardButton {
    margin: 10px 10px 10px 10px;
    height: 45px;
    width: 284px;
    line-height: 45px;
    -webkit-appearance: push-button;
}

.content div.standardButton a {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
}

.content ul.settings li.alertMessage {
    text-align: center;
    height: 45px;
    line-height: 45px;
}

.content ul.settings li.alertMessage span.message {
    color: red;
}