body {
    margin: 0;
    font-family: Helvetica, Arial;
    background: #ffffff;
    color: #000000;
}

#pageTitle {
    padding: 50px;
    background: #000;
    color: #fff;
}

div#toolbar {
}

div#leftItem {
    
}

div#rightItem {

}
                                                                                                                                                                            
div#content div.list ul {
    border-top: 1px solid #000;
}

div#content div.list li {
    list-style-type: none;
    padding: 0 0 5px 5px;
    border-bottom: 1px solid #000;
}