/* Common css */
body {
    margin: 0;
    font-family: Helvetica;
    height: 480px;
}

h1 {
    font-size: 1.4em;
}

/* header */

div#pageTitle h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
    line-height: 50px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}
/* toolbar */

#toolbar {
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #aebbcb),color-stop(0.5, #8094ae), color-stop(1.0, #6e84a2));
}

div#row div {
    position: absolute;
    overflow: hidden;
    text-align: center;
}

div#row div#leftItem {
    top: 10px;
    left: 10px;
    width: 50px;
}

div#row div#centerItem {
    bottom: 20px;
    width: 300px;
    margin-left: 10px;
    height: 30px;
}

div#row div#rightItem {
    top: 10px;
    right: 10px;
    width: 50px;
}

div#toolbar a {
    text-decoration: none;
    color:white;
    display: block;
    line-height: 30px;
}

div#row .backButton {
    -webkit-border-bottom-left-radius: 16px 16px;
    -webkit-border-bottom-right-radius: 6px 6px;
    -webkit-border-image: url(/public/images/backButton.png) 0 5 0 13 stretch stretch;
    -webkit-border-top-left-radius: 16px 16px;
    -webkit-border-top-right-radius: 6px 6px;
    border-width: 0 5px 0 13px;
    width: auto;
    font-size: .9em;
    z-index: 3;
}

div#row .deleteButton, .regularButton, .blueButton {
   -webkit-border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: auto;
    height: 30px;
    font-size: .9em;
    border-left: #5e7088 1px solid;
    border-right: #5e7088 1px solid;
    border-top: #34404e 1px solid;
    border-bottom: #34404e 1px solid;
}

div#row .deleteButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #aebbcb),color-stop(0.5, #8094ae), color-stop(1.0, #6e84a2));
}

div#row .regularButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #92a4bc),color-stop(0.5, #476997), color-stop(1.0, #4e6c92));
}

div#row .blueButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6f96e9),color-stop(0.5, #3366cc), color-stop(1.0, #3366cc));
    border: #1a49b3 1px solid;
}

div#content {
    background: url(/public/images/pinstripes.png);
}

div#content form button{
    width:300px;
    margin-left: 10px;
}

div#content form button.createButton {
    position: absolute;
    bottom: 20px;
    height: 35px;
}



/* lists */

div#content ul {
    border-top: 1px solid #848284;
    background-color: white;
    height: 100%;
}

div#content ul li {
    width: 100%;
    height: 75px;
    list-style-type: none;
    border-bottom: 1px solid #848284;
}

div#content ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

div#content ul li a:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(5, 140, 245)), to(rgb(1, 95, 230)));
}

div#content ul li span.title {
    margin-left: 30px;
    font-weight: bold;
    float: left;
    width:auto;
    line-height: 75px;
}

div#content ul li a span.discloser_indicator {
    background: url('/public/images/listArrow.png') no-repeat center right;
    height: 100%;
    width: 25px;
    float: right;
    margin-right: 10px;
}

div#content ul li a img {
    float: left;
    height: 100%;
    max-width: 100px;
}

/* Forms */

div#content form fieldset {
    border: none;
}

div#content form button {
    -webkit-appearance:push-button;
    width:300px;
    height: 40px;
}

/* Forms */
div#content .form_list {
    padding-top: 5px;
}

div#content .form_list ul {
    -webkit-border-radius: 8px;
    background-color: white;
    border: 1px solid #878787;
    display: block;
    font-size: 16px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 9px 17px 9px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

div#content .form_list li:last-child {
    border:none;
}

div#content .form_list li {
    display: block;
    height: auto;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

div#content .form_list span.label {
    float: left;
    display:block;
    line-height: 43px;
    padding-left: 5px;
    width: auto;
    overflow:hidden;
}

div#content .form_list input[type="checkbox"] {
    -webkit-appearance: none;
    background: url(/public/images/checkbox.png);
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    height: 27px;
    width: 94px;
}

div#content .form_list input[type="checkbox"]:checked {
    background-position-x: 0px;
    background-position-y: 27px;
}

div#content .form_list input[type="radio"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    border: none;
    height: 40px;
    left: 25px;
    margin: 0px;
    position: absolute;
    width: 270px;
    z-index:2000;
}

div#content .form_list input[type="radio"]:checked {
 background: url(/public/images/radiobutton.png) no-repeat;
 background-position-x: 100%;
 background-position-y: 50%;
}

div#content .form_list select {
    -webkit-appearance: none;
    border: 0px;
    width: 100%;
    height: 40px;
    background: url('/public/images/listArrowDown.png') no-repeat center right;
}


div#content .form_list textarea {
    -webkit-appearance: none;
    border:none;
    width: 100%;
    height: 100%;
}

div#content .form_list input[type="text"] {
    float: right;
    height: 43px;
    font-size:medium;
    width: 145px;
    -webkit-appearance: none;
    background: transparent;
    -webkit-border-bottom-left-radius: 0px 0px;
    -webkit-border-bottom-right-radius: 0px 0px;
    -webkit-border-top-left-radius: 0px 0px;
    border: none;
}

div#content .form_list input:first-child {
    -webkit-border-top-right-radius: 8px 8px;
}

div#content ul li span.gridItem {
    float: right;
    line-height: 75px;
    margin-right: 5px;
    text-align: left;
    width: 145px;
}

/* Settings */

div#content ul#settings {
    padding: 0;
    margin: 0;
}

div#content div#reset h3 {
    margin-left:30px;
    margin-right: 30px;
}

div.button {
    margin: 10px 10px 10px 10px;
    height: 45px;
    line-height: 45px;
    -webkit-appearance:push-button;
}

div.button a {
    display: block;
    text-decoration:none;
    width: 100%;
    color: black;
    text-align: center;
}