/* Common CSS */

a {
    text-decoration: none;
}

.content {
    width: inherit;
    height: 100%;
}

.toolbar .noButton {
    display: none;
}

.content ul {
    -webkit-padding-start: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content ul li {
    overflow: hidden;
    clear: both;
}

.content ul li span {
    display: block;
}

.content ul#settings li div.itemLabel span.title {
    padding: 0;
    margin: 0;
}