/* Common CSS */

div#content {
    width: inherit;
    height: 100%;
}

/* Lists */

div#content ul {
    -webkit-padding-start: 0;
    margin: 0;
	padding:0;
	list-style-type:none;
}

div#content ul li {
    overflow:hidden;
}

div#content ul li span {
    display:block;
}