/* Common CSS */

div#content {
    width: inherit;
    height: 100%;
}

/* Lists */

div#content ul {
    margin: 0;
    -webkit-padding-start: 0;
}

div#content ul {
    padding: 0;
    margin: 0;
}