body {
    margin: 0;
    font-family: tahoma;
    color: black
}

a {
    color: black;
}

.pageTitle {
    text-align: center;
    background: black;
    color: white;
    height: 30px;
    border-bottom: 1px solid gray;
}

.pageTitle h1 {
    padding: 0;
    margin: 3px 0 0;
    font-size: 15px;
    font-weight: normal;
}

.toolbar {
    margin: 10px 0;
}

.toolbar a {
    font-weight: bold;
    margin-left: 5px;
}

.content ul {
    margin: 5px;
    padding: 0;
}

.content ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.content ul li a {
    display: block;
}

.content ul li .label {
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    width: 30%;
}


.content form {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.content form ul {
    margin: 0;
    padding: 5px;
    border: 2px solid gray;
}

.content form ul li label {
    float: left;
    width: 30%;
    text-align: right;
    margin-right: 5px;
    line-height: 20px;
}

.content form ul li input {
    width: 50%;
}

.content form input[type="submit"] {
    clear: both;
    margin: 5px auto;
    border: 1px solid black;
}
