<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Meetings
</div>
<% end %>

<ul id="SugarMeetings" title="Meetings">
<a class="button right_button" href="/RhoSugarCRM/SugarMeeting/new">New</a>
	
<% @SugarMeetings.each do |x| %>
<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>
<% end %>

</ul>