<ul id="SugarMeetings" title="Meetings">
<%@SugarMeetings.each do |x|%>

<li><%=link_to "#{x.name}", "show", x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New Meeting", "new"%></font></li>
</ul>