<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  New Meeting
</div>
<% end %>

<form title="New Meeting" 
	  class="panel"
	  id="SugarMeeting_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarMeeting.object%>"/>
		
		  <div class="row">
			  <label>name: </label>
			  <input type="text" name="SugarMeeting[name]"/>
		  </div>
		
		  <div class="row">
			  <label>date_entered: </label>
			  <input type="text" name="SugarMeeting[date_entered]"/>
		  </div>
		
		  <div class="row">
			  <label>date_modified: </label>
			  <input type="text" name="SugarMeeting[date_modified]"/>
		  </div>
		
		  <div class="row">
			  <label>modified_by_name: </label>
			  <input type="text" name="SugarMeeting[modified_by_name]"/>
		  </div>
		
		  <div class="row">
			  <label>created_by_name: </label>
			  <input type="text" name="SugarMeeting[created_by_name]"/>
		  </div>
		
		  <div class="row">
			  <label>description: </label>
			  <input type="text" name="SugarMeeting[description]"/>
		  </div>
		
		  <div class="row">
			  <label>assigned_user_name: </label>
			  <input type="text" name="SugarMeeting[assigned_user_name]"/>
		  </div>
		
		  <div class="row">
			  <label>location: </label>
			  <input type="text" name="SugarMeeting[location]"/>
		  </div>
		
		  <div class="row">
			  <label>duration_hours: </label>
			  <input type="text" name="SugarMeeting[duration_hours]"/>
		  </div>
		
		  <div class="row">
			  <label>duration_minutes: </label>
			  <input type="text" name="SugarMeeting[duration_minutes]"/>
		  </div>
		
		  <div class="row">
			  <label>date_start: </label>
			  <input type="text" name="SugarMeeting[date_start]"/>
		  </div>
		
		  <div class="row">
			  <label>date_end: </label>
			  <input type="text" name="SugarMeeting[date_end]"/>
		  </div>
		
		  <div class="row">
			  <label>status: </label>
			  <input type="text" name="SugarMeeting[status]"/>
		  </div>
		
		  <div class="row">
			  <label>reminder_time: </label>
			  <input type="text" name="SugarMeeting[reminder_time]"/>
		  </div>
		
		  <div class="row">
			  <label>contact_name: </label>
			  <input type="text" name="SugarMeeting[contact_name]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>