<html>
	<head>
		<title>Hello</title>
		<style>* {font-size: 30px; font-weight: bold;}</style>
	</head>
<body>
<h1>Hello</h1><br/>
<% 3.times do |n| %>
* <%= n %> <br/>
<% end %>
<%= @test_string%><br/>
<a href="/">Go Home</a><br/>
</body>
</html>