<div align="center">
  <h3>Home</h3>
    <a href="Source">Edit Sources</a><br/>
    <a href="/" target="_self">Home</a><br/>
    <% if SyncEngine::logged_in > 0 %>
	  <a href="/Settings/User/logout">Logout</a>
	<%else%>
	  <a href="/Settings/User/login">Login</a>
	<%end%>
</div>