<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhomobile.rhodes"
    android:versionCode="29"
    android:versionName="2.3.3">

  <application >

    <activity android:name="com.google.zxing.client.android.CaptureActivity"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden"
              android:exported='true'
              >
      <intent-filter>
        <action android:name="com.google.zxing.client.android.SCAN"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
	  <uses-library android:name="com.symbol.emdk" android:required="false"/>


    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

    <activity android:name="com.google.barcodereader.BarcodeCaptureActivity"
      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:theme="@style/AppTheme.FullScreen"
      android:windowSoftInputMode="stateAlwaysHidden">
    </activity>
    
  </application >

  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="com.symbol.emdk.permission.EMDK"/>
  <uses-feature android:name="android.hardware.camera.flash" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.camera2" android:required='false' />
  <uses-feature android:name="android.hardware.camera2.full" android:required='false'/>
  <uses-feature android:name="android.hardware.camera2.autofocus" android:required='false'/>
  <uses-feature android:name="android.hardware.camera2.flash" android:required='false'/>
</manifest> 

