<ul id="SugarProducts" title="Products">
<%@SugarProducts.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New SugarProduct", :action => :new%></font></li>
</ul>