<div class="toolbar">
	<h1 id="pageTitle">
		Products
	</h1>
</div>

<ul id="SugarProducts" title="Products" selected="true">
<a class="button right_button" href="/RhoSugarCRM/SugarProduct/new" target="_self">New</a>
	
<%@SugarProducts.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
</ul>