<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Products
</div>
<% end %>

<ul id="SugarProducts" title="Products">
<a class="button right_button" href="/RhoSugarCRM/SugarProduct/new">New</a>
	
<%@SugarProducts.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
</ul>