<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  New Product
</div>
<% end %>

<form title="New SugarProduct" 
	  class="panel"
	  id="SugarProduct_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@SugarProduct.object%>"/>
		
		  <div class="row">
			  <label>name: </label>
			  <input type="text" name="SugarProduct[name]"/>
		  </div>
		
		  <div class="row">
			  <label>date_entered: </label>
			  <input type="text" name="SugarProduct[date_entered]"/>
		  </div>
		
		  <div class="row">
			  <label>date_modified: </label>
			  <input type="text" name="SugarProduct[date_modified]"/>
		  </div>
		
		  <div class="row">
			  <label>description: </label>
			  <input type="text" name="SugarProduct[description]"/>
		  </div>
		
		  <div class="row">
			  <label>team_name: </label>
			  <input type="text" name="SugarProduct[team_name]"/>
		  </div>
		
		  <div class="row">
			  <label>list_price: </label>
			  <input type="text" name="SugarProduct[list_price]"/>
		  </div>
		
		  <div class="row">
			  <label>cost_price: </label>
			  <input type="text" name="SugarProduct[cost_price]"/>
		  </div>
		
		  <div class="row">
			  <label>discount_price: </label>
			  <input type="text" name="SugarProduct[discount_price]"/>
		  </div>
		
		  <div class="row">
			  <label>status: </label>
			  <input type="text" name="SugarProduct[status]"/>
		  </div>
		
		  <div class="row">
			  <label>website: </label>
			  <input type="text" name="SugarProduct[website]"/>
		  </div>
		
		  <div class="row">
			  <label>account_name: </label>
			  <input type="text" name="SugarProduct[account_name]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>