<div class="toolbar">
	<h1 id="pageTitle">
		Products
	</h1>
</div>

<ul id="SugarProducts" title="Products" selected="true">
<a class="button right_button" href="SugarProduct/new" target="_self">New</a>
	
<%@SugarProducts.each do |x|%>

<li class="overview">
	<a href="<%= "SugarProduct/#{x.object}/show" %>" target="_self">
		<%= x.name %>
		<div>
		<%= display_dollars(x.list_price) %>
		</div>
	</a>
</li>

<%end%>
</ul>