<div class="toolbar">
	<h1 id="pageTitle">
		<script language="JavaScript">
			document.write(document.title)
		</script>
	</h1>
	<a id="backButton" class="button" href="./"></a>
</div>
<ul id="home" selected="true" title="<%= class_name %>">
	<li>Something interesting here...</li>
</ul>
