body {padding:0;margin:0;}

#search_form {
	background: gray url(toolbar.png) top left repeat-x;
	margin:0;
	position:relative;
	padding:0;
	height: 45px; 
}

#search_form input { width:250px; height: 45px; padding:0;
	position:absolute; left:35px; top:0; border:none; margin: 0;
	-webkit-border-radius: 0px;
	background: url(searchfield_repeat.png) center top repeat-x;
}


#search_form .left { width: 35px; height: 45px; position:absolute;left:15px;top:0;border: none; margin: 0;padding:0;
	background: url(searchfield_leftcap.png) left top no-repeat; }
#search_form .right { width: 21px; height: 45px; position:absolute;left:270px; top:0px;border: none; margin: 0;padding:0;
	background: url(searchfield_rightcap.png) right top no-repeat; }
	
.clearer {clear:both;}

#content {
  padding: 0px 5px 0px 5px;
  width: 310px;
  overflow: hidden;
}

.toolbar {
  background: url(toolbar.png) #ff0000 repeat-x;
	margin:0;
	position:relative;
	padding:0;
	height: 45px;
}

#history_box {
  z-index: 9999;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 500px;
  background: white;
}

h1#pageTitle {position:relative;top:10px;margin:0;padding:0;color:white;text-align:center;font-family:Helvetica;font-size:20px;}
	
#history {padding:0;margin:0;}
#history ul {list-style-type: none;padding:0;margin:0;}
#history ul li {width:100%;border-bottom:1px solid #ddd;padding:10px;margin:0;}
#history ul a {text-decoration:none; font-weight:bold;color:#000;font-family: Helvetica;font-size:20px;}

.button {color:#fff;font-family: Helvetica;font-weight:bold;font-size:12px;padding: 9px 5px 5px 7px;
	position:relative;top:5px;left:2px;text-decoration:none;}
.left_button {position:absolute; width:50px; height: 30px; top:5px; left: 5px; -webkit-border-image: url(left_button.png) 0 5 0 5;}
.right_button {position:absolute; width:50px; height: 30px; top:5px; right: 5px;  -webkit-border-image: url(right_button.png) 0 5 0 5;}


#loading {
  margin-top: 200px;
  text-align: center;
  height: 400px;
}
