<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Cases
</div>
<% end %>

<ul id="SugarCases" title="Cases">
<a class="button right_button" href="/RhoSugarCRM/SugarCase/new">New</a>
	
<%@SugarCases.each do |x|%>
<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>
<% end %>

</ul>