<ul id="SugarCases" title="Cases">
<%@SugarCases.each do |x|%>

<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New Case", :action => :new%></font></li>
</ul>