<div class="toolbar">
	<h1 id="pageTitle">
		Meetings
	</h1>
</div>

<ul id="SugarMeetings" title="Meetings" selected="true">
<a class="button right_button" href="/RhoSugarCRM/SugarMeeting/new" target="_self">New</a>
	
<% @SugarMeetings.each do |x| %>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarMeeting/#{x.object}/show" %>" target="_self">
		<%= x.name %>
		<div>
		<%= x.date_start %>
		</div>
	</a>
</li>

<% end %>

</ul>