<div class="toolbar">
	<h1 id="pageTitle">
		<%= class_name %>
	</h1>
</div>

<ul id="home" selected="true" title="<%= class_name %>">
	<li>Add links here...</li>
	<%% if SyncEngine::logged_in > 0 %>
	<li><%%=link_to "Logout", :controller => :Settings, :action => :logout%></li>
	<%% else %>
	<li><%%=link_to "Login", :controller => :Settings, :action => :login%></li>
	<%% end %>
</ul>