<div class="toolbar">
  <h1><%= class_name %></h1>

  <a class="button leftButton blueButton" href="<%%= url_for :controller => :Settings, :action => :do_sync %>">Sync</a>
  <%% if SyncEngine::logged_in > 0 %>
  <a class="button" href="<%%= url_for :controller => :Settings, :action => :logout %>">Logout</a>
  <%% else %>
  <a class="button" href="<%%= url_for :controller => :Settings, :action => :login %>">Login</a>
  <%% end %>
</div>

<div class="content">
  <ul>
    <li class="arrow">
      <a href="#">Link 1</a>
    </li>
    <li class="arrow">
      <a href="#">Link 2</a>
    </li>
    <li class="arrow">
      <a href="#">Link 3</a>
    </li>
  </ul>
</div>