<div class="border d-flex justify-content-between">
  <% if @rhoconnectclient_ext %>
    <a href="<%%= url_for :controller => :Settings, :action => :do_sync %>"
       class="m-1 btn btn-default btn-sm <%% if Rho::RhoConnectClient.isLoggedIn %> visible <%% else %> invisible <%% end %>">
    </a>
  <% end %>

  <h3><%= class_name %></h3>

  <% if @rhoconnectclient_ext %>
    <%% if Rho::RhoConnectClient.isLoggedIn %>
    <a href="<%%= url_for :controller => :Settings, :action => :logout %>" class="m-1 btn btn-default btn-sm">
      Logout
    </a>
    <%% else %>
    <a href="<%%= url_for :controller => :Settings, :action => :login %>" class="m-1 btn btn-primary btn-sm">Login</a>
    <%% end %>
  <% end %>
</div>



<div class="container-fluid p-1">

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
      <span>Add link here...</span>
      <i data-feather="chevron-right"></i>
    </a>
  </div>
  
</div>
