<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><%= class_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet" href="/public/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css">

  <script src="/public/jquery/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/public/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

  <script src="/public/api/rhoapi-modules.js" type="text/javascript"></script>

</head>

<body>
<%%= @content %>
</body>

</html>
