<div id="pageTitle">
    <h1>New Model1</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @model1.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Name: </td>
    			  <td class="itemValue"><input type="text" name="model1[name]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Address: </td>
    			  <td class="itemValue"><input type="text" name="model1[address]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>