<div class="toolbar">
	<h1 id="pageTitle">
		Leads
	</h1>
</div>

<ul id="SugarLeads" title="Leads" selected="true">
<a class="button right_button" href="/RhoSugarCRM/SugarLead/new" target="_self">New</a>

<% @SugarLeads.each do |lead| %>

<li class="overview">
<%= link_to "#{lead.first_name} #{lead.last_name}", :action => :show, :id => lead.object %>
<div>
<%= lead.status %><%= both_items_present?(lead.status, lead.account_name) ? "<span class='separator'>&nbsp;|&nbsp;</span>" : "" %><%= lead.account_name %>
</div>
</li>

<% end %>
</ul>