<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Leads
</div>
<% end %>

<ul id="SugarLeads" title="Leads">
<a class="button right_button" href="/RhoSugarCRM/SugarLead/new">New</a>

<% @SugarLeads.each do |lead| %>

<li class="overview">
<%= link_to "#{lead.first_name} #{lead.last_name}", :action => :show, :id => lead.object %>
<div>
<%= lead.status %> | <%= lead.account_name %>
</div>
</li>

<% end %>
</ul>