<div id="pageTitle">
	<h1><%= class_name.camelize.pluralize %></h1>
</div>


<div id="toolbar">
    <%%= link_to "New", :action => :new %>
    <%%= link_to "Home", RhoConfig::start_path %>
</div>

<div id="content">
    <ul>
    <%% @<%= name.downcase.pluralize %>.each do |obj| %>
    	<% if self.attributes? %>
    	    <li><%%= link_to "#{obj.<%= attributes[0] %>}", :action => :show, :id => obj.object %></li>
    	<% else %>
    	    <li>Some list entry...</li>
    	<% end %>
    <%% end %>
    </ul>
</div>