<div id="pageTitle">
	<h1><%= class_name.camelize.pluralize %></h1>
</div>

<div id="toolbar">
    <div id="row">
        <div id="leftItem" class="backButton">
          <a href="/app/" target="_self">Home</a>
        </div>
        <div id="rightItem" class="regularButton">
          <a href="<%= class_name%>/new" target="_self">New</a>
        </div>
    </div>
</div>

<div id="content">
    <ul>
        <%%@<%=name.downcase.pluralize%>.each do |obj|%>
            <%if self.attributes?%>
            <li>
                <a href="<%%= url_for(:action => :show, :id => obj.object) %>">
                    <span class="title"><%%= obj.<%=attributes[0]%> %></span>
                    <span class="discloser_indicator"></span>
                </a>
            </li>
            <%else%>
            <li>
                <a href="#">
                    <span class="title">Some list entry...</span>
                    <span class="discloser_indicator"></span>
                </a>
            </li>
            <%end%>
        <%%end%>
    </ul>
</div>