<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title><%= class_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="/public/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <script type="text/javascript" src="/public/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-ORM.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-ORMHelper.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-Ruby-RunTime.js"></script>

    <script type="text/javascript" src="model.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>


<div class="container-fluid">

    <div class="row page-title">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a id="homeBtn" href="" class="btn btn-default btn-sm pull-left">Home</a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3 class="text-center"><%= name.camelize.pluralize %></h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="new.html" class="btn btn-primary btn-sm pull-right">New</a>
        </div>
    </div>

    <div class="row">
        <div class="list-group" data-role="item-list">

        </div>
    </div>

</div>
<script>
    window.addEventListener("load", function () {
        var page = new App.IndexPage();
        page.init();
    });
</script>

</body>

</html>