<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title><%= class_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- jQuery -->
    <script type="text/javascript" src="/public/libs/jquery-3.5.1/jquery-3.5.1.min.js"></script>

    <!-- Popper -->
    <script type="text/javascript" src="/public/libs/popper-2.4.0/popper-2.4.0.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/public/libs/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/libs/bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <!-- feather icons -->
    <script src="/public/libs/feather/js/feather.min.js"></script>

    <script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-ORM.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-ORMHelper.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules-Ruby-RunTime.js"></script>

    <script type="text/javascript" src="model.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<div class="border d-flex justify-content-between">
    <a id="backBtn" href="#" class="m-1 btn btn-secondary btn-sm">Back</a>
    <h3 id="title"></h3>
    <a id="editBtn" href="#" class="m-1 btn btn-primary btn-sm">Edit</a>
</div>

<div class="container-fluid p-1">

    <ul data-role="property-list" class="list-group">
        <% attributes.each do |attribute| %>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <strong class="pull-right"><%= attribute.camelize %></strong>
                </div>
                <div id="<%= name.downcase %><%= attribute.capitalize %>"
                     class="col-6"></div>
            </div>
        </li>
        <% end %>
    </ul>

</div>

<script>
    window.addEventListener("load", function () {
        var page = new App.ShowPage();
        page.init();
    });
</script>
</body>

</html>
