<script language="JavaScript">
		
if (location.href =='http://localhost:8080/app/index_erb.iseq?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		<%= class_name %>
	</h1>
</div>

<ul id="home" selected="true" title="<%= class_name %>">
	<li>Add links here...</li>
</ul>
