/* change default graphic for toolbar */
body > .toolbar {
  background: url(../images/toolbar_new.png) #ff0000 repeat-x;
}
/* now that we don't use back-buttons, we disable ellipsis on long labels */
.toolbar > h1 {
  overflow: visible;
}
/* generate a new button to match toolbar */
.button {
  -webkit-border-image: url(../images/toolButton_new.png) 0 5 0 5;	
}
table.grid {
	table-layout: fixed;
	cellspacing: 20px;
	width: 100%;
	border-collapse: collapse;
	position: relative;
	margin: 0 0 20px 0;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #999999;
	background: #ffffff;
	font-size: 80%;
	border: 0;
}
table.grid td {
	border-bottom: 1px solid #BBBBBB;
	padding:10px;
	margin:0;
}
table.grid tr:last-of-type td {
	border-bottom: none;
}
.gridleft {
	text-align: right;
	width: 35%;
	color: #4183C4;
}
.gridright {
	text-align: left;
	font-weight:bold;
}
.menu_icon {
  border:none;
	vertical-align:middle;
	padding-right: 4px;
	margin-top: -4px;
}
/* show the hidden back button */
.right_button {margin: -45px 0 0 0}
.left_button {display: inline}
