body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
}

/* disable display of normal iui display bar */
.toolbar {
	display:none;
}

.generic_heading {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    background-color: #556655;
    font-size: 110%;
    width: auto;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}

/*
.generic_heading > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    font-size: 110%;
    width: auto;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}
*/

.button {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0000ff;
}

ul {
	margin: 0 0 0 5px;
	padding: 0;
}

li {
 list-style-type :none;	
}

a:link, a:visited, a:unvisited, a:hover 
{
	color:#000000;
	text-decoration: none;
	font-weight:bold;
	font-family: Arial;
}

a {
	color:#000000;
	text-decoration: none;
	font-weight:bold;
	font-family: Arial;
}

img {
  border-width: 0;
}

table > tr {
	line-height: 25px;
}

fieldset select {margin-top:5px;}

.clearer {clear:both;}

ul.info {
margin-left:0px;padding-left:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

ul.info li {font-weight:bold;margin-left:10px;padding-left:0;}

li.overview div {font-size:85%;font-weight:normal;color:#4183C4;}

.tallrow {
	position: relative;
	height:84px;
	border-bottom: 1px solid #999999;
  -webkit-border-radius: 0;
}

textarea {
  font-size: 16px;
  font-weight: normal;
}

label {
	font-size: 80%;	
}
.tallrow label { float:left; line-height: 42px;font-weight: bold; margin-left:14px;}
.tallrow select { float:right; clear:left; font-size: 120%; height: 30px;}

.tallrow input:not(input[type|=radio]):not(input[type|=checkbox]) {
	width:auto;
	margin: 0;
	padding: 6px;
}

table.grid {
	table-layout: fixed;
/*	cellspacing: 20px; */
	width: 95%;

	border-collapse: collapse;
	position: relative;
	margin: 0 0 20px 0;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #999999;
	background: #ffffff;
	font-size: 80%;
}

table.grid td {
	border-bottom: 1px solid #BBBBBB;
	padding:10px;
	margin:0;
}

table.grid tr:last-of-type td {
	border-bottom: none;
}

.gridleft {
	text-align: right;
	width: 35%;
	color: #4183C4;
}
 
.gridright {
	text-align: left;
	font-weight:bold;
}

.right_button {
    margin: -45px 0 0 0;
}

.left_button {
/*    margin: -45px 0 0 -200px; */
    display: inline;  /* show the hidden back button */
}

.menu_icon {
    border:none;
    vertical-align: middle;
    padding-right: 4px;
}
