<html>
	<head>
		<title>Show Contact</title>
		<style>* {font-size: 30px; font-weight: bold;}</style>
	</head>
<body>
	<%= @message%><br/>
	<a href="<%= url_for(:index)%>">[All Contacts]</a><br/>
	<p>Params: <%= @params%></p>
	<p>Url for index: <%= url_for(:index)%></p>
</body>
</html>