<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhomobile.rhodes"
    android:installLocation="auto"
    android:versionCode="29"
    android:versionName="2.3.3">

  <application >

        <activity
            android:name="com.rhomobile.rhodes.RhodesActivity">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc"
            />

        </activity>
    
    </application >

    <uses-sdk android:minSdkVersion="10" />
    
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <uses-permission android:name="android.permission.NFC" />

</manifest> 
