<!-- main index page -->
<div align="center">
	<div style="margin:20px 0px;font-size:130%;font-weight:bold;color:#ff8800">Welcome to Rhodes!</div>
	
	<p>
		Welcome to the Rhodes Framework!  This is the default landing page.  You probably want to create a "rho_build.conf" file in your home directory
		which configures apps.dir to your application directory.
	</p>
	<br/>
	<p>For example:
	   apps.dir=/Users/John/firstrhodesapp
	</p>
</div>
