<!-- main index page -->
<div align="center">
	<div style="margin:20px 0px;font-size:130%;font-weight:bold;color:#ff8800">Welcome to Rhodes!</div>
	
	<p>
		Welcome to the Rhodes Framework!  This is the default landing page.  You probably want to configure the 'app' property of 'rhobuild.yml' in your rhodes checkout directory (a rhobuild.yml.example is provided for you).
	</p>
	<br/>
	<p>For example:
	   app: /Users/John/firstrhodesapp
	</p>
</div>
