<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<style type="text/css">
			#sourcescontainer { position: absolute; bottom: 2em; }
		</style>
		<% if System::get_property('platform') == 'WINDOWS' %>
			<script src="/shared/js/rhogeolocation-wm.js"></script>
		<% else %>
			<script src="/shared/js/jquery-1.2.6.min.js"></script>
			<script src="/shared/js/rhogeolocation.js"></script>
		<% end %>
	</head
	<body>
		<div align="center">
			<h3>Home</h3>
			<a href="Rhosugar">SugarCRM Demo</a><br/>
			Platform:<%= System::get_property('PLatform')%><br/>
			Your location: <geolocation>loading...</geolocation><br/>
			Latitude: <geolatitude>loading...</geolatitude><br/>
			Longitude: <geolongitude>loading...</geolongitude><br/>
		</div>
		<div id="sourcescontainer">
			<small><a href="/Sources/Source/index">Edit Sources</a><br/></small>
		</div>
	</body>
</html>