<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<style type="text/css">
			#sourcescontainer { position: absolute; bottom: 2em; }
		</style>
		<% if System::get_property('platform') == 'WINDOWS' %>
			<script src="/shared/js/rhogeolocation-wm.js"></script>
		<% end %>
		<% if System::get_property('platform') == 'APPLE' %>
			<script src="/shared/js/jquery-1.2.6.min.js"></script>
			<script src="/shared/js/rhogeolocation.js"></script>
		<% end %>
	</head
	<body>
		<!-- Page content goest here -->
		<%= @content %>
	</body>
</html>
