<form title="New People" 
	  class="panel"
	  id="people_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@people.object%>"/>
		
		  <div class="row">
			  <label>first name: </label>
			  <input type="text" name="people[first_name]"/>
		  </div>
		
		  <div class="row">
			  <label>last name: </label>
			  <input type="text" name="people[last_name]"/>
		  </div>
		
		  <div class="row">
			  <label>email: </label>
			  <input type="text" name="people[email_address]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>