<% if System::get_property('platform') != 'APPLE' %>
<div class="generic_heading">
  Opportunities
</div>
<% end %>

<ul id="SugarOpportunities" title="Opportunities">
<a class="button right_button" href="/RhoSugarCRM/SugarOpportunity/new">New</a>

<%@SugarOpportunities.each do |x|%>

<li class="overview">
	<a href="<%= "/RhoSugarCRM/SugarOpportunity/#{x.object}/show" %>">
		<%= x.name %>
		<div>
		<%= x.sales_stage %>&nbsp;<%= x.probability %>%
		</div>
	</a>
</li>

<%end%>

</ul>