/* Common CSS */

a{
	text-decoration:none;
}

div#content {
    width: inherit;
    height: 100%;
}

/* Toolbar */

div#toolbar .noButton {
    display:hidden;
}


/* Lists */

div#content ul {
    -webkit-padding-start: 0;
    margin: 0;
		padding:0;
		list-style-type:none;
}

div#content ul li {
    overflow:hidden;
		clear:both;
}

div#content ul li span {
    display:block;
}


div#content ul#settings li div.itemLabel span.title{
  padding: 0;
	margin:0;
}

.whiteButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.whiteButton {
    -webkit-border-image: url(/public/images/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.grayButton {
    -webkit-border-image: url(/public/images/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}
