<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>GenPropBag2 Extension Test</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
    <ul data-role="listview">
        <%= link_to 'Run GenPropBag2 test', { :action => :run_test }%>
    </ul>
  </div>

</div>

