<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Cases</title>
<meta name="viewport" content="width=320"/>
</head>
<body>
<table>
<%@cases.each do |x|%>
<tr>
  <td><%=link_to x.name, "edit", x.object%></td>
  <td><%=link_to "X","destroy", x.object%></td>
</tr>
<%end%>
</table>
<br/>
<%=link_to "Create new case","new"%>
<br/>
<a href="" onclick="return doSync();">Sync DB</a><br/>
</body>
</html>
