<ul id="<%= name.pluralize %>" title="<%= class_name.pluralize %>">
<%%@<%=name.pluralize%>.each do |x|%>
<li>Some list item...</li>
<%%end%>
<li><font color="blue"><%%=link_to "New <%= class_name %>", "new"%></font></li>
</ul>