<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Sync error</h1>
  </div>

  <div data-role="content">
        <div class="error-message"><%= @params['msg'] %></div>
  </div>

</div>
