<div class="toolbar">
	<h1 id="pageTitle">
		Home
	</h1>
</div>

<ul id="home" selected="true" title="Home">
	<li>Add links here...</li>
	<% if SyncEngine::logged_in > 0 %>
	<li><%=  link_to "Logout", :action => :logout %></li>
	<% else %>
	<li><%=  link_to "Login", :action => :login %></li>
	<% end %>
</ul>
