<div id="pageTitle">>
	<h1>Home</h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="blueButton"><%%= link_to "Sync", :action => :do_sync %></div>
    <%% if SyncEngine::logged_in > 0 %>
      <div id="rightItem" class="regularButton"><%%= link_to "Logout", :action => :logout %></div>
    <%% else %>
      <div id="rightItem" class="regularButton"><%%= link_to "Login", :action => :login %></div>
    <%% end %>
</div>

<div id="content">
    <ul>
        <li>
            <a href="#">
                <span class="title">Add Links Here...</span>
                <span class="disclosure_indicator"></span>
            </a>
        </li>
    </ul>
</div>
