<div class="border d-flex justify-content-between">
  <a href="<%%= Rho::Application.startURI %>" class="m-1 btn btn-secondary btn-sm">Home</a>

  <h3>Settings</h3>

  <span></span>
</div>

<div class="container-fluid p-1">


  <div class="list-group">

    <%% if @msg %>
    <div class="alert alert-danger"><%%= @msg %></div>
    <%% end %>

    <% if @rhoconnectclient_ext %>

      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
            <span pull-right><strong>Client ID:</strong></span>
          </div>
          <div class="col-6">
            <%%= Rhom::Rhom::client_id %>
          </div>
        </div>
      </li>

      <a href="<%%= url_for :action => :reset %>" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Reset Database</span>
        <i data-feather="chevron-right"></i>
      </a>

      <a href="<%%= url_for :action => :do_sync %>" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Perform Sync</span>
        <i data-feather="chevron-right"></i>
      </a>

      <%% if Rho::RhoConnectClient.isLoggedIn %>
      <a href="<%%= url_for :action => :logout %>" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Logout</span>
        <i data-feather="chevron-right"></i>
      </a>

      <%% else %>
      <a href="<%%= url_for :action => :login %>" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Login</span>
        <i data-feather="chevron-right"></i>
      </a>
      <%% end %>

    <% end %>

  </div>


</div>
