<div class="container-fluid">

  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">Login</h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <form method="POST" action="<%%= url_for :action => :do_login %>">
    <%% if @msg %>
    <div class="alert alert-warning"><%%= @msg %></div>
    <%% end %>

    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" id="login" name="login" <%%= placeholder("Login") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" <%%= placeholder("Password") %> class="form-control" />
    </div>

   <button type="submit" class="btn btn-success btn-block">Login</button>
  </form>

</div>
