<div id="pageTitle">
  <h1>Login</h1>
</div>

<div id="toolbar"></div>

<div id="content">
    <form title="Login to Rhodes"
       method="POST"
       action="<%=url_for(:action => 'do_login')%>">

        <% if @msg %>
            <p style="color:#ff0000"><%= @msg %></p>
        <% end %>
        <fieldset>
            <div class="form_list">
                <ul>
                    <li>
                        <span class="label">Login</span>
                        <input type="text" name="login"/>
                    </li>

                    <li>
                        <span class="label">Password</span>
                        <input type="password" name="password"/>
                    </li>
                </ul>
            </div>
            <button class="updateButton" type="submit">Login</button>
        </fieldset>
    </form>
    <div class="button">
        <a href="<%=url_for(:controller => :Settings, :action => :index)%>" target="_self">Cancel</a>
    </div>
</div>
