<div class="toolbar">
  <h1 id="pageTitle">
    Login
  </h1>
</div>

<form title="Login to Rhodes"
      class="panel" 
     id="user_edit_form" 
   method="POST" 
   action="<%=url_for(:action => 'do_login')%>" selected="true">  
      
  <% if @msg %>
    <p style="color:#ff0000"><%= @msg %></p>
  <% end %>
  
  <table class="grid">
    <tr>
      <td class="gridleft" style="color:#000000">Login</td>
      <td class="gridright"><input type="text" maxlength="100" name="login"/></td>
    </tr>
    <tr>
      <td class="gridleft" style="color:#000000">Password</td>
      <td class="gridright"><input type="password" maxlength="100" name="password"/></td>
    </tr>
  </table>
 
  <p align="center">
    <input type="submit" value="Login"/><br/>
  </p>
 
</form>
