<div class="pageTitle">
  <h1>Reset Database</h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :do_reset %>">Confirm</a>
  </div>
</div>

<div class="content">
  <h3>Are you sure?</h3>
  <div style="margin: 10px;">Resetting removes all objects from your device.</div>
</div>