<div id="pageTitle">
	<h1>Reset Database</h1>
</div>



<div id="toolbar">
    <div id="leftItem" class="regularButton"><%= link_to "Cancel", :action => :index %></div>
    <div id="rightItem" class="blueButton"><%= link_to "Confirm", :action => :do_reset %></div>
</div>


<div id="content">
    <div id="reset">
          <h4>Are you sure?<br/>
              Resetting removes all objects from your device.</h4>
    </div>
</div>